@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

//start
//cashier-item-addition
//end

body {
  background: var(--front-bg);
}
:root {
  --main-color: #f7506d;
  --main-splash: #ebedef;
  --main-gradient: linear-gradient(to right, #f7506d, #f98046);
  --main-gradient-text: linear-gradient(45deg, #f7506d, #f98046);
  --color-dark: #1D2231;
  --text-grey: #8390A2;
  --text-silver: #c0c0c0;
  --front-bg: #f2f1f5;
  --front-color: #f7506d;
  --front-action: #ff5252;
  --front-seprate-check: #531616;
  --front-footer: #dadada;
}


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  //box-sizing: border-box;
}

/*
    Main app Styles
*/

html, body {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.logo{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
}

.button {
  cursor: pointer;
  outline: none;
}
.btn {
  padding: .6rem 1.5rem;
  border-radius: 4px;
  height: 40px;
  border: 1px solid var(--main-gradient);
}

.btn-main-gradient, .bg-main-gradient {
  background: var(--main-gradient) !important;
  color: #fff !important;
}

.btn-main, .bg-main {
  background: var(--main-color) !important;
  color: #fff !important;
}

.btn-block {
  width: 100%;
  display: block;
}
.form-group {
  margin-bottom: 1rem;

  label:first-child {
    width: 100%;
    display: block;
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: .5rem;
    color: #444;
  }
}

.form-control {
  height: 40px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 4px;
  padding: .3rem 1rem;
  outline: none;
  color: #333;
}

.front-wrapper,
.account-wrapper {
  //min-height: 100vh;
  background: var(--front-bg);
  //height: 100%;
  overflow: hidden;
  display: none;
}


.account-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;

  .role-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .role {
      display: flex;
      align-items: center !important;

      input[type=radio] {
        display: none;

        & + label span {
          display: inline-block !important;
          height: 15px !important;
          width: 15px !important;
          padding: 0rem !important;
          border: 2px solid var(--front-color);
          cursor: pointer;
          border-radius: 50%;
        }

        &:checked + label span {
          background: var(--main-gradient);
          border: 2px solid var(--front-bg);
        }
      }

      span:first-child {
        padding-right: 1rem;
        font-size: .8rem;
        color: #333;
        font-weight: 500;
      }
    }
  }

  .account-header {
    text-align: center !important;

    h3 {
      width: 100%;
      font-size: 2.8rem;
      text-align: center !important;

      span {
        color: var(--front-color);
      }
    }

    small {
      font-size: 1rem;
      color: #444;
      font-weight: 600;
    }
  }

  .account-tabs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 0rem;

    button {
      background: #fff;
      color: var(--text-grey);
      text-transform: uppercase;
      border: none;
      padding: .6rem;
      font-size: 1.1rem;
      font-weight: 600;
      border-bottom: 3px solid #efefef;

      &.is-active {
        border-bottom: 3px solid var(--front-color);
      }
    }
  }

  .account-form-wrapper {
    width: 400px;

    .account-form {
      padding: .6rem 0rem;

      h3 {
        font-weight: 500;
        font-size: 1.5rem;
        color: #444;
        margin-bottom: 1rem;
      }

      button {
        margin-top: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .95rem;
      }
    }
  }
}

/*
osama
 white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 */

.front-sidebar {
  //width: 110px;
  //height: 110%;
  //min-height: 100% !important;
  padding: 5px;
  //position: fixed;
  //left: 0;
  //top: 0;
  //background: #fff;
  //box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;

  .brand {
    text-align: center;

    h1 {
      color: var(--front-color);
      font-size: 3rem;
    }
  }

  .front-sidemenu {
    //margin-top: 1.4rem;

    ul {
      display: block;
    }

    ol, ul {
      padding-left: 0.2rem;
      padding-right: 0.2rem;
    }

    li {
      text-align: center;
      align-items: center;
      display: inline-block;
      justify-content: center;
      flex-direction: column;
      //margin-bottom: 1.3rem;
      cursor: pointer;
      padding: .5rem;
      border-radius: 8px;
      margin: 5px;

      h3 {
        color: var(--front-color);
        font-size: 1rem;
        font-weight: 400;
        margin-top: .5rem;

        //white-space: nowrap;
        //overflow: hidden;
        //text-overflow: ellipsis;
      }

      .category-img{
        //padding: 5px;
        border-radius: 50%;
        width: 60px;
        padding: 3px;
        display: block;
        margin: auto;
        -webkit-filter: invert(100%); /* Safari/Chrome */
        filter: invert(100%);
      }
      .category-name{
        color: black;
        width:100%;
        word-wrap: break-word;
        font-size: small;
      }
      &.active {
        background: var(--main-gradient);
        padding: .5rem;
        border-radius: 8px;
        margin: 5px;

        //h3 {
        //  color: #fff;
        //  font-size: .8rem;
        //  margin-top: 0rem;
        //
        //
        //}

        .category-img{
          //padding: 5px;
          width: 60px;
          border-radius: 50%;
          //border: 3px solid var(--bs-white);
          //width: 90% !important;
          display: block;
          margin: auto;
          padding: 3px;
          -webkit-filter: invert(0%); /* Safari/Chrome */
          filter: invert(0%);
        }
        .category-name{
          width:100%;
          color: var(--bs-white);
          word-wrap: break-word;
          font-size: small;
        }
      }
    }
  }
}

.front-content {
  //background: var(--front-bg);

}

.front-header {
  position: fixed;
  left: 150px;
  top: 20px;
  right: 40px;
  padding: 1.3rem 1.8rem;
  background: #fff;
  border-radius: 8px;
  width: calc(100% - 190px);
  z-index: 100;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 1.6rem;

      & + small {
        display: block !important;
        margin-top: -3px;
      }
    }

    .front-search {
      display: flex;
      align-items: center;

      span {
        padding: 1rem 1.4rem;
        font-size: 1.5rem;
      }

      input {
        border: none;
        outline: none;
        height: 40px;
        flex: 1;
        padding: 1rem 1.4rem;
        border-left: 1px solid var(--text-grey);
      }
    }

    .front-nav-links {
      display: flex;
      align-items: center;

      div:first-child {
        a, button {
          display: inline-block;
          margin: 0rem .5rem;
          font-size: 1.03rem;
          font-weight: 600;
          color: #555;
          text-transform: uppercase;
        }

        button {
          background: none;
          border: none;
          outline: none;
        }
      }

      div:last-child {
        margin-left: 1.5rem;

        button {
          padding: .6rem 1rem;
        }

        span:first-child {
          font-size: 1.3rem;
        }

        span:last-child {
          font-size: .8rem;
        }
      }
    }
  }
}

//remove dialog bootstrap
.modal-header {
  display: none !important;
}

.cashier-item {
  //background: #fff;
  //padding-bottom: 5px;
  //max-width: 150px;//new
  margin: 0;
  //display: block;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.cashier-cart-controls {

  span {
    color: var(--main-gradient-text);
    font-size: 22px;
    text-align: center;
    alignment: center;
    margin-left: 5px;
    margin-right: 5px;
  }

  span:nth-of-type(2n) {
    font-size: 20px;
    font-weight: bold;
  }

  span:hover {
    cursor: pointer;
  }

  img {
    text-align: center;
    width: 20px;
    height: 20px;
    margin: auto;
    display: inline;
  }
}


.cashier-item:hover {
  opacity: 1;
  cursor: pointer;
}

.cashier-item-name {
  //font-size: small;
  //margin-left: 12px;
  //margin-right: 12px;
  //white-space: nowrap;
  //overflow: hidden;
  //text-overflow: ellipsis;
  //text-align: center;

  font-size: small;
  /* white-space: nowrap; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  text-align: center;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  align-content: center;
  margin: auto;
  display: block;
}

.cashier-gradient {
  background-image: var(--main-gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cashier-text-bold {
  font-weight: bold;
  text-transform: capitalize;
}

.cashier-addition-department-items {
  margin-top: 10px;
  margin-bottom: 5px;
}

.cashier-cart-body {
  //border: 1px solid var(--front-color);
  border-top: none;
  //padding: 10px;
  width: 100%;
  background: white;
  align-content: center;
  margin: auto;
  padding: 1.5rem;
  //overflow-y: hidden;

  & div.cart-items:nth-child(n) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px
  }

  & div.cart-items:nth-last-child(-n+1) {
    border-bottom: none;
    padding-bottom: 10px;
  }
}

.cart-info-addition {
  //border-bottom: 1px solid #f7506d;
  //padding-bottom: 10px;
}

//div.cashier-cart-body div.cart-items:nth-child(1) {
//  border-bottom: 1px solid #ccc;
//  padding-bottom: 10px;
//}

.cart-info-addition-items {
  margin: auto;
  font-size: 13px;
}

.cart-info-addition-items-price {
  text-align: center;
}

.fk-qty__icon {
  font-size: 18px;
}

.t-bg-clear {
  background: transparent;
}

.fk-qty__input {
  width: 30px;
  border: none;
  font-size: 15px;
  text-align: center;
  color: #374a5e;
}

.cashier-addition-items {
  display: flex;
  text-transform: capitalize;
  //margin-top: 5px;
  align-items: center;
  justify-content: space-between;
}

.front-main {
  //margin: 10px;
  //top: 30px;
  //height: 80vh;
  //width: calc(100% - 190px);
  //position: relative;
  //margin-left: 20px;
  //margin-right: 20px;
  .main-grid {
    //display: grid;
    //grid-template-columns: 60% 20% 20%;
    height: 100%;
    //background: var(--front-bg);cart-sum

    h3 {
      font-weight: 500;
    }

    .menu-section {
      //height: 80vh;
      //overflow-y: auto;
      padding-bottom: 1rem;
      //padding-right: 2rem;

      &::-webkit-scrollbar {
        width: 7px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: var(--text-grey);
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 6px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #444;
      }

      h3 {
        margin-bottom: 1.3rem;
      }

      .menu-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;


        .menu-card {
          //height: 250px;
          border-radius: 7px;
          background-size: cover;
          background-repeat: no-repeat;
          padding: 1.1rem;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2),
          -2px -2px 10px rgba(255, 255, 255, 0.8);
          cursor: pointer;
          position: relative;
          overflow-y: hidden;

          .item-name,
          .item-price {
            padding: .3rem 1rem;
            border-radius: 3px;
            display: inline-block !important;
            font-size: .85rem;
            font-weight: 700;
          }

          .item-price {
            margin-bottom: .5rem;
          }

          .item-name {
            background: #fff;
          }

          button {
            position: absolute;
            bottom: -50%;
            left: 50%;
            transform: translateX(-50%);
            transition: bottom 300ms;
          }

          &:hover button {
            bottom: 15px;
          }
        }
      }
    }

    .cart-section {
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      //height: 80vh;
      //overflow-y: auto;

      &::-webkit-scrollbar {
        width: 7px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: var(--text-grey);
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 6px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #444;
      }

      .cart-card {
        padding-bottom: 10px;
        //.cart-header {
        //  background: var(--main-gradient);
        //  color: #fff;
        //  padding: .8rem 1rem;
        //  border-radius: 8px 8px 0px 0px;
        //
        //  small {
        //    color: #efefef;
        //  }
        //}

        .cart-body {
          .cart-items {
            //padding: 0rem .5rem;
            background: white;
            padding: 0.5rem;
          }

          .cart-item {
            //display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0.6rem;
            border-bottom: 1px solid #ccc;

            //&:last-child {
            //  border-bottom: none;
            //}
            h8 {
              text-align: center;
              font-size: small;
              font-weight: bold
            }

            .cart-info {
              //display: flex;
              align-items: center;

              span {
                padding-right: 1rem;
                color: #f7506d;
                font-size: 1.10rem;
                cursor: pointer;
              }



            }

            .cart-controls {
              display: flex;
              align-items: center;
              border: 1px solid var(--front-color);
              border-radius: 6px;
              overflow-y: hidden;
              height: 33px;

              input {
                border: none;
                outline: none;
                height: 33px;
                width: 33px;
                text-align: center;
                background: transparent;
              }

              input + div {
                display: flex;
                flex-direction: column;
                background: var(--main-gradient);

                span {
                  height: 49.5%;
                  background: var(--main-gradient);
                  color: #fff;
                  padding: 0rem .23rem;
                  cursor: pointer;

                  &:first-child {
                    border-bottom: 1px solid #fff;
                  }

                  &:last-child {
                    border-top: 1px solid #fff;
                  }
                }
              }
            }
          }

          .cart-sum {
            //padding: 1.5rem;
            background: #fff;

            .cart-address {
              .price-flex {
                p {
                  margin: 5px;
                  font-size: .82rem;
                  color: #333;
                  font-weight: 500;
                }

                button {
                  font-size: .8rem;
                  font-weight: 600;
                  padding: .5rem;
                  //margin-left: 1rem;
                }
              }
            }

            .price-flex {
              display: flex;
              justify-content: space-around;
              align-items: center;
              margin-bottom: 0.5rem;

              small {
                color: var(--text-grey);
                font-weight: 600;
              }

              &:last-child {
                h4 {
                  color: var(--front-color);
                }
              }
            }


            .cart-pay-btn {
              margin-top: 1.2rem;

              button {
                background: #24b056;
                color: #fff;
                font-size: 1rem;
                height: auto;
                display: block;
                width: 100%;

                span {
                  padding-right: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.center-ellipse{
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;

  //display: -webkit-box;
  //-webkit-line-clamp: 2;
  //-webkit-box-orient: vertical;
  //align-items: center;
  //text-align: center;

  h6 , label{
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
  }
}

/***
    Modal
***/
/* Modal */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 92%;
  max-width: 380px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.modal-header h4 {
  margin-top: 0;
  color: var(--text-grey);
  border-bottom: 1px solid #ccc;
  padding-bottom: .4rem;
}

.modal-body {
  margin: 20px 0;
  max-height: 400px !important;
  //overflow-y: auto;
}

.modal-body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.modal-body::-webkit-scrollbar-thumb {
  background: var(--main-dark);
  border-radius: 8px;
}

/* Handle on hover */
.modal-body::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* ***
    Admin styles
* ***/

.admin-login-wrapper {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .admin-form-wrapper {
    padding: 1rem;
    width: 400px;

    h3 {
      font-weight: 500;
      font-size: 1.5rem;
      color: #444;
      margin-bottom: 1rem;
      text-align: center;
    }

    button {
      margin-top: 1.5rem;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .95rem;
    }

    .form-link {
      text-align: center;

      a {
        color: #555 !important;
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
}

#sidebar-toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--main-color);
  color: #fff;
  //overflow-y: auto;
  transition: width 500ms;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}

.sidebar-menu {
  padding: 1rem;
}

.sidebar li {
  margin-bottom: 1.5rem;
}

.sidebar a {
  color: #fff;
  font-size: .8rem;
}

.sidebar a span:last-child {
  padding-left: .6rem;
}

#sidebar-toggle:checked ~ .sidebar {
  width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
  display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
  display: flex;
  justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
  margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
  left: 60px;
  width: calc(100% - 60px);
}

.main-content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
}

header {
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #fff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  transition: left 500ms;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.btn-operator{
  width: 2px;
  height: 5px;
}

.search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons span,
.social-icons div {
  margin-left: 1.2rem;
}

.social-icons div {
  height: 38px;
  width: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

main {
  margin-top: 60px;
  background: #f1f5f9;
  min-height: 90vh;
  padding: 1rem 3rem;
}

.dash-title {
  color: var(--color-dark);
  margin-bottom: 1rem;
}

.dash-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.card-single {
  background: #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
}

.card-body span {
  font-size: 1.5rem;
  color: #777;
  padding-right: 1.4rem;
}

.card-body h5 {
  color: var(--text-grey);
  font-size: 1rem;
}

.card-body h4 {
  color: var(--color-dark);
  font-size: 1.1rem;
  margin-top: .2rem;
}

.card-footer {
  padding: .2rem 1rem;
  background: #f9fafc;
}

.card-footer a {
  color: var(--main-color);
}

.recent {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.activity-grid {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-column-gap: 1.5rem;
}

.activity-card,
.summary-card,
.bday-card {
  background: #fff;
  border-radius: 7px;
}

.activity-card h3 {
  color: var(--text-grey);
  margin: 1rem;
}

.activity-card table {
  width: 100%;
  border-collapse: collapse;
}

.activity-card thead {
  background: #efefef;
  text-align: left;
}

th, td {
  font-size: .9rem;
  padding: 1rem 1rem;
  color: var(--color-dark);
}

td {
  font-size: .8rem;
}

tbody tr:nth-child(even) {
  background: #f9fafc;
}

.badge {
  padding: .2rem 1rem;
  border-radius: 20px;
  font-weight: 700;
  font-size: .7rem;
}

.badge.success {
  background: #DEF7EC;
  color: var(--main-color);
}

.badge.warning {
  background: #F0F6B2;
  color: orange;
}

.splash-text{
  background-image: var(--main-gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-size: xxx-large;
  text-align: center;
  align-content: center;
  margin: auto;
  display: block;
}

.td-team {
  display: flex;
  align-items: center;
}

.img-1,
.img-2,
.img-3 {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  margin-left: -15px;
  border: 3px solid #efefef;
  background-size: cover;
  background-repeat: no-repeat;
}

.summary-card {
  margin-bottom: 1.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.summary-single {
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
}

.summary-single span {
  font-size: 1.5rem;
  color: #777;
  padding-right: 1rem;
}

.summary-single h5 {
  color: var(--main-color);
  font-size: 1.1rem;
  margin-bottom: 0rem !important;
}

.summary-single small {
  font-weight: 700;
  color: var(--text-grey);
}

.bday-flex {
  display: flex;
  align-items: center;
  margin-bottom: .3rem;
}

.bday-card {
  padding: 1rem;
}

.bday-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid #efefef;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: .7rem;
}

.text-center {
  text-align: center;
}

.text-center button {
  background: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: .4rem 1rem;
}

.table-responsive {
  overflow-x: auto;
}

@media only screen and (max-width: 1200px) {

  .main-grid {
    grid-template-columns: 100% !important;
  }

  //.cart-section {
  //  position: fixed;
  //  padding-left: 0rem !important;
  //  right: 0;
  //  top: 0;
  //  bottom: 0 !important;
  //  height: 100% !important;
  //  z-index: 120;
  //  background: #fff;
  //
  //  .cart-card {
  //    background: #fff;
  //    height: 100% !important;
  //  }
  //}

  .sidebar {
    width: 60px;
    z-index: 150;
  }

  .sidebar .sidebar-header h3 span,
  .sidebar li span:last-child {
    display: none;
  }

  .sidebar .sidebar-header,
  .sidebar li {
    display: flex;
    justify-content: center;
  }

  .main-content {
    margin-left: 60px;
  }

  .main-content header {
    left: 60px;
    width: calc(100% - 60px);
  }

  #sidebar-toggle:checked ~ .sidebar {
    width: 240px;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: inline;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header {
    display: flex;
    justify-content: space-between;
  }

  #sidebar-toggle:checked ~ .sidebar li {
    display: block;
  }

  #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
  }

  #sidebar-toggle:checked ~ .main-content header {
    left: 60px;
  }
}
.header-icons{
  display: inline-flex;
  div{
    margin-left: 10px;
    margin-right: 10px;
    label:hover {
      @extend .fa-check-circle !optional;
      cursor: pointer;
    }
  }
  div:hover{
    @extend .fa-check-circle !optional;
    cursor: pointer;
  }
}

.addition-section{
  padding-left: 1rem;
  //height: 80vh;
  //overflow-y: auto;

  //&::-webkit-scrollbar {
  //  width: 7px;
  //}
  //
  ///* Track */
  //&::-webkit-scrollbar-track {
  //  background: var(--text-grey);
  //}
  //
  ///* Handle */
  //&::-webkit-scrollbar-thumb {
  //  background: #555;
  //  border-radius: 6px;
  //}
  //
  ///* Handle on hover */
  //&::-webkit-scrollbar-thumb:hover {
  //  background: #444;
  //}
}

//@media only screen and (max-width: 1200px) {
//  .addition-section {
//    display: none;
//  }
//  //.menu-grid{
//  //  margin-right: 20px;
//  //}
//}

@media only screen and (max-width: 960px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media only screen and (max-width: 860px) {
  //html { font-size: 4vw; }
  .dash-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-single {
    margin-bottom: 1rem;
  }

  .activity-grid {
    display: block;
  }

  .summary {
    margin-top: 1.5rem;
  }

  .cart-info-addition-items {
    display: inline;
    text-align: start;
    width: 100%;
  }
}

@media only screen and (min-width: 750px) {
  //html { font-size: 4vw; }
  .brand{
    justify-content: center;
    h5{
      display: none;
    }
    .navbar-toggler{
      display: none;
    }
    span{
      text-align: center;
    }
  }
  #nav-text-collapse{
    display: block !important;
  }
}


@media only screen and (max-width: 600px) {
  html { font-size: 3vw}
  input{font-size: 3vm}
  .dash-cards {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 450px) {
  html { font-size: 3vw; }
  input{font-size: 3vm}
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}



