<template>
  <div class="admin-login-wrapper">
    <div class="admin-form-wrapper">
      <v-img :src="logo" class="logo"/>
      <h3 style="margin-top: 10px">{{ $t('sign_in_to_dashboard') }}</h3>
      <v-form

          v-model="valid"
          ref="formLogin"
          lazy-validation
          @submit.prevent="submitLogin">
        <div class="form-group">
          <label>{{ $t('username') + '*' }}</label>
          <v-text-field
              dir=auto
              placeholder="************"
              v-model="model.name"
              :rules="nameRules"
              autocomplete=”off” readonly
              onclick="this.removeAttribute('readonly');"
              solo/>
        </div>

        <div class="form-group">
          <label>{{ $t('password') + '*' }}</label>
          <v-text-field
              dir=auto
              placeholder="************"
              v-model="model.password"
              :rules="nameRules"
              type="password"
              autocomplete=”off” readonly
              onclick="this.removeAttribute('readonly');"
              solo/>
        </div>

        <div class="form-group">
          <v-btn
              class="btn btn-main btn-block"
              @click.prevent="submitLogin"
              :loading="loadingAddLogin"
              :disabled="loadingAddLogin">{{ $t('save') }}
          </v-btn>

        </div>

      </v-form>

    </div>
  </div>
  <!--  </v-form>-->
</template>

<script>
import helper from "../../../mixins/helper";
import Response from "../../../mixins/Response";

export default {
  name: "LoginComponent",
  mixins: [helper, Response],
  data: () => ({
    loaderLogin: null,
    loadingAddLogin: false,
    valid: true,
    discountSelected: '',
    logo: require('../../../../public/logo.png'),
    model: {
      name: '',
      password: ''
    }
  }),
  methods: {
    submitLogin() {
      console.log(this.$apiUrl)
      if (this.$refs.formLogin.validate()) {
        let l = 'loadingAddLogin'
        this[l] = !this[l]
        this.$axios.post(`${this.$apiUrl}/login`, this.model)
            .then(res => {
              this[l] = false
              if (this.isValidResponse(res)) {
                this.$refs.formLogin.reset()
                console.log(res.data.data.id)
                this.$store.dispatch("setUser", res.data.data)
                this.$router.push("/").catch(() => {
                });
                //add user
              }
            })
            .catch(error => {
              this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
              this[l] = false
              console.log(error)
            })

      }
    },
  },
  mounted() {
    // this.$refs.formLogin.reset()
  }
}
</script>

<!--<style scoped>-->
<!--.v-dialog {-->
<!--  overflow-y: hidden;-->
<!--}-->

<!--.cart-header {-->
<!--  background: var(&#45;&#45;front-action);-->
<!--  justify-content: center;-->
<!--  color: white;-->
<!--}-->

<!--.v-input {-->
<!--  margin-top: 10px;-->
<!--}-->

<!--.footer-actions {-->
<!--  /*margin: 0;*/-->
<!--  text-align: center;-->
<!--  display: flex;-->
<!--  /*flex: 1 1 0px;*/-->
<!--}-->

<!--.footer-actions > .action {-->
<!--  width: 100%;-->
<!--  color: white;-->
<!--  background: var(&#45;&#45;front-action);-->
<!--  font-size: 1.0em;-->
<!--  font-weight: bolder;-->
<!--  padding-top: 3px;-->
<!--  padding-bottom: 3px;-->
<!--  border-radius: 0;-->
<!--}-->

<!--.footer-actions > .action:nth-child(2) {-->
<!--  background: var(&#45;&#45;text-grey);-->
<!--}-->
<!--</style>-->
