<template>
  <div>
    <!-- Add Address List -->
    <h3 class="cashier-text-bold">{{ $t('add_customer') }}</h3>
    <v-dialog
        persistent
        class="v-dialog"
        v-model="showDialogAddCustomer"
        max-width="500px"
    >
      <v-card>
        <v-card-title>
          <v-form
              ref="formAddCustomer"
              v-model="valid"
              lazy-validation
              @submit.prevent="submitAddCustomer">

            <v-row>
              <v-col cols="12">
                <v-text-field
                    autofocus
                    dir=auto
                    :label="$t('name_hint')+'*'"
                    :rules="nameRules"
                    v-model="model.name"
                    type="text"
                    required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                    autofocus
                    dir=auto
                    :label="$t('phone_hint')+'*'"
                    :rules="nameRules"
                    v-model="model.phone"
                    type="number"
                    required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                    autofocus
                    dir=auto
                    :label="$t('full_address_hint')+'*'"
                    :rules="nameRules"
                    v-model="model.full_address"
                    type="text"
                    required
                ></v-text-field>
              </v-col>
              <v-row>
                <v-col>
                  <v-text-field
                      dir=auto
                      :label="$t('building')+'*'"
                      :rules="nameRules"
                      v-model="model.building"
                      type="text"

                      required
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                      dir=auto
                      :label="$t('floor')+'*'"
                      :rules="nameRules"
                      v-model.number="model.floor"
                      type="number"

                      required
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                      dir=auto
                      :label="$t('flat')+'*'"
                      :rules="nameRules"
                      v-model.number="model.flat"

                      type="number"
                      required
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-col cols="12">
                <v-text-field
                    dir=auto
                    :label="$t('shipping_charge')"
                    v-model="model.shipping"
                    :rules="nameRules"
                    type="number"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                    dir=auto
                    :label="$t('special_sign')"
                    v-model="model.special_sign"
                    type="text"
                ></v-text-field>
              </v-col>

              <v-col cols="6" style="margin: auto">
                <v-btn
                    style="padding: 3% 0"
                    class="btn-block"
                    @click="submitAddCustomer"
                    :loading="loadingAddCustomer"
                    :disabled="loadingAddCustomer"
                    color="primary">
                  {{ $t('save') }}
                </v-btn>
              </v-col>
              <v-col cols="6">

                <v-btn
                    @click.prevent="closeDialog"
                    class="btn-block"
                    color="blue-grey"
                    dark
                >

                  {{ $t('close') }}
                </v-btn>
              </v-col>

            </v-row>
          </v-form>
        </v-card-title>
      </v-card>
    </v-dialog>


  </div>

</template>

<script>
import helper from "../../mixins/helper";
/*
attributes = [
branch_id
name
phone
flat
floor
building
special_sign
full_address
shipping
]
 */
export default {
  name: "AddCustomerComponent",
  mixins: [helper],
  data: () => ({
    loadingAddCustomer: false,
    addressId: '',
    valid: true,
    model: {
      name: '',
      phone: '',
      full_address: '',
      building: '',
      floor: '',
      flat: '',
      special_sign: '',
      shipping: '',
    }
  }),
  props: ['phone', 'showDialogAddCustomer'],
  watch: {
    phone: {
      immediate: true,
      handler(val) {
        this.model.phone = val
      }
    }
  },
  methods: {
    resetModel() {
      this.model.building = ''
      this.model.floor = ''
      this.model.flat = ''
      this.model.address_id = ''
      this.model.full_address = ''
      this.model.shipping = ''
      this.model.special_sign = ''
    },
    submitAddCustomer() {
      if (this.$refs.formAddCustomer.validate()) {
        let l = 'loadingAddCustomer'
        this[l] = !this[l]
        console.log(this.model)
        this.$axios.post(`${this.$apiUrl}/customer`, this.model,
            this.getHeaderRequest())
            .then(res => {
              this[l] = false
              if (this.isValidResponse(res)) {
                  this.$emit("customer",res.data.data)
                  // this.closeDialog()
              }
            })
            .catch(error => {
              this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
              this[l] = false
              console.log(error.messageerror)
            })
      }
    },
    closeDialog() {
      this.$refs.formAddCustomer.reset()
      this.$emit("closeAddCustomerDialog")
    }
  }
  ,
}
</script>

<style scoped>

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

</style>