<template>
  <div>
    <!-- Add Address List -->
    <h3 class="cashier-text-bold">{{ $t('address') }}</h3>
    <v-radio-group
        style="margin: 0; padding: 0"
        v-model="addressId" v-for="(address,index) in addressList"
        :key="address.id+index">
      <v-row no-gutters style="margin: 0; padding: 0">
        <v-col cols="8">
          <v-radio
              class="cashier-text-bold"
              :label="fullAddress(address)"
              @change="onChangeAddress(address)"
              color="orange"
              :id="'address-'+address.id+index"
              :value="address.id"
          ></v-radio>
        </v-col>
        <v-col>
          <v-btn
              @click="updateAddress(index,address)"
              depressed
              color="primary"
          >{{ $t('update') }}
          </v-btn>
        </v-col>
        <v-col v-show="addressList.length > 1  && addressId !== address.id">

          <v-btn
              @click="deleteAddress(index)"
              :loading="loadingDeleteAddress"
              :disabled="loadingDeleteAddress"
              depressed
              color="error"
          >{{ $t('delete') }}
          </v-btn>
        </v-col>
      </v-row>


      <!--                  <input class="form-check-input" type="radio"-->
      <!--                         :name="address.name" :value="address.id"-->
      <!--                         :label="address.name"-->
      <!--                         v-model="address.choose_id" :id="'flexCheckChecked_'+address.name+address.id"/>-->
    </v-radio-group>
    <v-btn
        color="blue darken-1"
        text
        @click="showDialog"
    >
      <v-icon left>
        mdi-plus
      </v-icon>
      {{ $t('add_address') }}
    </v-btn>
    <v-dialog
        persistent
        class="v-dialog"
        v-model="showAddressDialog"
        max-width="500px"
    >
      <v-card>
        <v-card-title>
          <v-form
              ref="formAddAddress"
              v-model="valid"
              lazy-validation
              @submit.prevent="submitAddress"
          >
            <v-row>
              <v-col cols="12">
                <v-text-field
                    autofocus
                    dir=auto
                    :label="$t('full_address_hint')+'*'" r
                    :rules="nameRules"
                    v-model="model.full_address"
                    type="text"
                    required
                ></v-text-field>
              </v-col>
              <v-row>
                <v-col>
                  <v-text-field
                      dir=auto
                      :label="$t('building')+'*'"
                      :rules="nameRules"
                      v-model="model.building"
                      type="text"

                      required
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                      dir=auto
                      :label="$t('floor')+'*'"
                      :rules="nameRules"
                      v-model.number="model.floor"
                      type="number"

                      required
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                      dir=auto
                      :label="$t('flat')+'*'"
                      :rules="nameRules"
                      v-model.number="model.flat"

                      type="number"
                      required
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-col cols="12">
                <v-text-field
                    dir=auto
                    :label="$t('special_sign')"
                    v-model="model.special_sign"
                    type="text"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                    dir=auto
                    :label="$t('shipping_charge')"
                    v-model="model.shipping"
                    type="number"
                ></v-text-field>
              </v-col>

              <v-col cols="6" style="margin: auto">
                <v-btn
                    style="padding: 3% 0"
                    class="btn-block"
                    @click="submitAddress"
                    :loading="loadingAddAddress"
                    :disabled="loadingAddAddress"
                    color="primary">
                  {{ $t('save') }}
                </v-btn>
              </v-col>
              <v-col cols="6">

                <v-btn
                    @click.prevent="closeDialog"
                    class="btn-block"
                    color="blue-grey"
                    dark
                >

                  {{ $t('close') }}
                </v-btn>
              </v-col>

            </v-row>
          </v-form>
        </v-card-title>
      </v-card>
    </v-dialog>


  </div>

</template>

<script>
import helper from "../../mixins/helper";

export default {
  name: "AddressComponent",
  mixins: [helper],
  data: () => ({
    loadingAddAddress: false,
    loadingDeleteAddress: false,
    showAddressDialog: false,
    addressId: '',
    valid: true,
    addressIndex: -1,
    model: {
      customer_id: '',
      full_address: '',
      building: '',
      floor: '',
      flat: '',
      special_sign: '',
      shipping: '',
      address_id: ''
    }
  }),
  props: ['addressList', 'id', 'address_id'],
  watch: {
    address_id: {
      immediate: true,
      handler(val) {
        this.addressId = val
      }
    },
    id: {
      immediate: true,
      handler(val) {
        this.model.customer_id = val
      }
    }
  },
  methods: {
    fullAddress(address) {
      return this.$t('full_address_hint') + " (" + address.full_address + ") - "
          + this.$t('building') + " (" + address.building + ") - "
          + this.$t('floor') + " (" + address.floor + ") - "
          + this.$t('flat') + " (" + address.flat + ") - "
          + this.$t('special_sign') + " (" + address.special_sign + ") - "
          + this.$t('shipping_charge') + " (" + address.shipping + ")"
    },
    resetModel() {
      this.model.building = ''
      this.model.floor = ''
      this.model.flat = ''
      this.model.address_id = ''
      this.model.full_address = ''
      this.model.shipping = ''
    },
    showDialog() {
      this.resetModel()
      this.showAddressDialog = true
    },
    onChangeAddress(address) {
      this.$emit('addressSelected', address)
    },
    deleteAddress(index) {
      if (index < this.addressList.length) {
        let l = 'loadingDeleteAddress'
        this[l] = !this[l]
        this.$axios.delete(`${this.$apiUrl}/address/`+this.addressList[index].id, this.getHeaderRequest())
            .then(res => {
              this[l] = false
              if (this.isValidResponse(res)) {
                this.addressList.splice(index, 1)
              }
            })
            .catch(error => {
              this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
              this[l] = false
              console.log(error.messageerror)
            })
      }
    },
    submitAddress() {
      if (this.$refs.formAddAddress.validate()) {
        let l = 'loadingAddAddress'
        this[l] = !this[l]
        console.log(this.model)
        if (this.model.address_id === '') {
          //add new address
          this.$axios.post(`${this.$apiUrl}/address`, this.model, this.getHeaderRequest())
              .then(res => {
                this[l] = false
                if (this.isValidResponse(res)) {
                  this.$emit('addAddress', res.data.data)
                  this.showAddressDialog = false
                  this.$refs.formAddAddress.reset()
                }
              })
              .catch(error => {
                this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
                this[l] = false
                console.log(error.messageerror)
              })
        } else {
          //update address
          this.$axios.put(`${this.$apiUrl}/address/` + this.model.address_id, this.model, this.getHeaderRequest())
              .then(res => {
                this[l] = false
                if (this.isValidResponse(res)) {
                  this.$emit('updateAddress', this.addressIndex, res.data.data)
                  this.showAddressDialog = false
                  this.$refs.formAddAddress.reset()
                }
              })
              .catch(error => {
                this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
                this[l] = false
                console.log(error.messageerror)
              })
        }
      }
    },
    updateAddress(index, address) {
      this.addressIndex = index
      this.model.address_id = address.id
      this.model.full_address = address.full_address
      this.model.building = address.building
      this.model.flat = address.flat
      this.model.floor = address.floor
      this.model.special_sign = address.special_sign
      this.model.shipping = address.shipping
      this.showAddressDialog = true
    },
    closeDialog() {
      this.$refs.formAddAddress.reset()
      this.showAddressDialog = false
    }
  }
  ,
}
</script>

<style scoped>

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

</style>