<template>
  <div>
    <!-- Add discount List -->
    <!--    <h3 class="cashier-text-bold">{{ $t('add_discount') }}</h3>-->

    <!-- Add discount form -->
    <v-dialog
        persistent
        class="v-dialog"
        v-model="showDiscountDialog"
        max-width="fit-content"
    >
      <v-form
          ref="formDiscount"
          lazy-validation
          @submit.prevent="submitDiscount"
      >
        <v-card style="overflow-y: hidden">
          <v-card-title>
            <v-row>
              <v-text-field
                  autofocus
                  dir=auto
                  :label="$t('add_discount')+'*'"
                  v-model="model.discount"
                  :rules="numberRules"
                  type="number"
                  required
              ></v-text-field>
            </v-row>
          </v-card-title>
<!--          <v-row>-->
<!--            <v-col cols="6" style="margin: auto">-->
<!--              <v-btn-->
<!--                  style="padding: 3% 0"-->
<!--                  class="btn-block"-->
<!--                  @click="submitDiscount"-->
<!--                  :loading="loadingAddDiscount"-->
<!--                  :disabled="loadingAddDiscount"-->
<!--                  color="primary">-->
<!--                {{ $t('save') }}-->
<!--              </v-btn>-->
<!--            </v-col>-->
<!--            <v-col cols="6">-->

<!--              <v-btn-->
<!--                  @click.prevent="this.closeDiscount(0)"-->
<!--                  class="btn-block"-->
<!--                  color="blue-grey"-->
<!--                  dark-->
<!--              >-->

<!--                {{ $t('close') }}-->
<!--              </v-btn>-->
<!--            </v-col>-->
<!--          </v-row>-->
          <div class="footer-actions">
            <v-btn
                class="action"
                :loading="loadingAddDiscount"
                :disabled="loadingAddDiscount"
                @click.prevent="submitDiscount">{{ $t('save') }}</v-btn>
            <v-btn
                class="action"
                @click.prevent="closeDiscount(0)">{{ $t('cancel') }}</v-btn>
          </div>

        </v-card>
      </v-form>
    </v-dialog>

  </div>

</template>

<script>
import helper from "../../mixins/helper";

const Swal = require("sweetalert2");
export default {
  name: "DiscountComponent",
  mixins: [helper],
  data: () => ({
    loaderDiscount: null,
    loadingAddDiscount: false,
    discountSelected: '',
    model: {
      discount: ''
    }
  }),
  props: {
    showDiscountDialog: Boolean //recieving from parent
  },
  emits: ['submitDialogDiscount'],
  methods: {
    submitDiscount() {
      console.log("asdasd")
      if (this.$refs.formDiscount.validate()) {
        this.closeDiscount(this.model.discount)
        // console.log("asdasd work")
        // let l = 'loadingAddDiscount'
        // this[l] = !this[l]
        // this.$axios.post(`${this.$discountApi}`, this.model)
        //     .then(res => {
        //       if (res.data !== undefined) {
        //         if (res.data.code === 200) {
        //           this.closeDiscount(res.data.data)
        //           Swal.fire({
        //             position: 'center',
        //             icon: 'success',
        //             title: res.data.message,
        //             showConfirmButton: false,
        //             timer: 1500
        //           })
        //         } else {
        //           Swal.fire({
        //             position: 'center',
        //             icon: 'error',
        //             title: res.data.message,
        //             showConfirmButton: false,
        //             timer: 1500
        //           })
        //         }
        //       }
        //       this[l] = false
        //     })
        //     .catch(error => {
        //       this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
        //       this[l] = false
        //       console.log(error.messageerror)
        //     })
      }
    },
    closeDiscount(data) {
      this.$refs.formDiscount.reset()
      this.$emit('submitDialogDiscount', data)
      this.model.discount = ''
    }
  },
}
</script>

<style scoped>
.v-dialog {
  overflow-y: hidden;
}
.footer-actions {
  /*margin: 0;*/
  text-align: center;
  display: flex;
  /*flex: 1 1 0px;*/
}

.footer-actions > .action {
  width: 50%;
  color: white;
  background: var(--front-action);
  font-size: 1.0em;
  font-weight: bolder;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 0;
}

.footer-actions > .action:nth-child(2) {
  background: var(--text-grey);
}
</style>