<template>

  <v-dialog
      persistent
      v-model="showInvoice"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition">
    <div class="table-dialog-container">
      <div class="table-dialog-header">
        <label class="hover" @click="closeInvoice">{{ $t('exit') }}</label>
      </div>
      <table class="table">
        <thead>
        <tr class="table-row">
          <th scope="col">{{ $t('quantity') }}</th>
          <th scope="col">{{ $t('product') }}</th>
          <th scope="col">{{ $t('price') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-row" v-for="(item, index) in model.items" :key="index">
          <td>{{ item.qty }}</td>
          <td>{{ item.name }}</td>
          <td>{{ (Number(item.total) * Number(item.qty)).toLocaleString() }} {{ $t('currency') }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </v-dialog>

</template>

<script>
import helper from "../../mixins/helper";

export default {
  name: "InvoiceComponent",
  props: ["showInvoice", "model"],
  mixins: [helper],
  watch: {
    showInvoice(newValue) {
      if (newValue)
        this.prepareInvoice()
    }
  },
  methods: {
    prepareInvoice() {
      console.log("submit")
      // let cart = this.$store.getters.getCart
      // let isSeparate = this.$store.getters.getIsSeparate
      // this.model.items = []
      // let itemsIndex = []
      //
      // cart.forEach((item, index) => {
      //   if (!isSeparate || (isSeparate && item.is_separate)) {
      //     this.model.items.push(item)
      //     itemsIndex.push(index)
      //   }
      // })
      this.model.items = this.getCartItems()
      this.callApiCreateOrder(this.itemsIndexWillRemove)
    },
    callApiCreateOrder() {
      this.model.total = this.total
      this.model.sub_total = this.subTotal
      console.log(this.model)
      this.$axios.post(`${this.$apiUrl}/createOrder`, this.model)
          .then(res => {
            this.$alertify.success(res.data.data);
            // this.$store.dispatch("removeItems", itemIndex)
            this.$emit("closeInvoice")
          })
          .catch(error => {
            this.loading = false
            this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
            console.log(error)
            console.log(error.response)
          })
    },
    closeInvoice(){
      this.$emit('closeInvoice')
    }
  }
}
</script>

<style scoped>

.table-dialog-container {
  background: white;
  height: 100%;
}

.table-row {
  border-bottom-width: thin;
}

.table-row > td, .table-row > th {
  text-align: center;
}

.table-dialog-header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  background: var(--front-action);
  font-weight: bolder;
  color: white;
}

.table-dialog-header > label {
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  margin: 15px;
}

.hover {
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  padding: 0 20px 60px 0;
  margin-top: 5px;
  justify-content: center;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.product-img {
  width: 120px;
  margin: auto;
}

.product-text {
  text-align: center;
  align-content: center;
  white-space: nowrap;
  word-break: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
}

.product-container {
  margin: 5px;
  height: fit-content;
}

.table-dialog-footer {
  width: 100%;
  text-align: center;
}

.v-btn {
  background: var(--front-action) !important;
  color: white;
}

</style>