<template>
  <v-row justify="center">
    <AddCustomerComponent
        :showDialogAddCustomer="showDialogAddCustomer"
        :phone="model.phone"
        @customer="newCustomer"
        @closeAddCustomerDialog="showDialogAddCustomer = false"
    />

    <!--    <AddCustomer-->
    <v-dialog
        v-model="dialog"
        persistent
        max-width="800px"
    >
      <v-card dir="auto">
        <v-card-title>
          <span class="text-h5">{{ $t('add_customer') }}</span>
        </v-card-title>
        <v-card-text style="padding: 0; margin: 0">
          <v-container>
            <v-row style="margin-inline-start: 10px; margin-inline-end: 10px">
              <v-col cols="8">
                <v-form
                    ref="formSearch"
                    v-model="valid"
                    lazy-validation
                    @submit.prevent="checkPhoneExist">
                  <v-text-field
                      autofocus
                      dir=auto
                      :label="$t('phone_hint')+'*'"
                      :rules="phoneRules"
                      v-model="search"
                      type="text"
                      required
                  ></v-text-field>
                </v-form>
              </v-col>

              <v-col cols="4" style="margin: auto">
                <v-row>
                  <v-btn
                      style="padding: 3% 0; margin-bottom: 7px"
                      class="btn-block"
                      :loading="loadingSearch"
                      :disabled="loadingSearch"
                      color="primary"
                      @click.prevent="checkPhoneExist"
                  >
                    {{ $t('search') }}
                  </v-btn>
                  <v-btn
                      style="padding: 3% 0;"
                      color="success"
                      @click="showDialogAddCustomer = true">
                    {{ $t('add_customer') }}
                  </v-btn>

                </v-row>
              </v-col>
            </v-row>

            <div
                v-show="this.response.id !== undefined"
                class="form-group">
              <v-row no-gutters style="margin: 0; padding: 0">
                <v-col cols="2">
                  <h6 class="cashier-text-bold cashier-gradient">{{ $t('name_hint') }}</h6>
                </v-col>
                <v-col>
                  <h6>
                    {{ response.name }}
                  </h6>
                </v-col>
                <v-row no-gutters style="margin: 0; padding: 0">

                  <v-col cols="2">
                    <h6 class="cashier-text-bold  cashier-gradient">{{ $t('phone_hint') }}</h6>
                  </v-col>
                  <v-col>
                    <h6>
                      {{ model.phone }}
                    </h6>
                  </v-col>
                </v-row>
                <v-row
                    v-show="this.model.address !== ''"
                    no-gutters style="margin: 0; padding: 0">

                  <v-col cols="2">
                    <h6 class="cashier-text-bold  cashier-gradient">{{ $t('full_address_hint') }}</h6>
                  </v-col>
                  <v-col>
                    <h6>
                      {{ model.address }}
                    </h6>
                  </v-col>
                </v-row>
              </v-row>
              <v-divider></v-divider>
              <!-- Add phone List -->
              <PhoneComponent :id="this.response.id"
                              :phoneList="this.response.phone"
                              :phone_selected="this.model.phone"
                              @phoneSelected="setPhoneSelected"
                              @updatePhoneList="updatePhoneList"/>
              <!-- END PHONE LIST -->
              <v-divider></v-divider>
              <!-- Add Address List -->
              <AddressComponent :id="this.response.id"
                                :addressList="this.response.addresses"
                                :address_id="this.model.address_id"
                                @addressSelected="setAddressSelected"
                                @updateAddress="updateAddress"
                                @addAddress="addAddress"/>
              <!-- END ADDRESS LIST -->
            </div>

            <v-form
                ref="form"
                v-model="valid"
                lazy-validation
            >
              <v-row v-show="showForm">
                <v-col cols="12">
                  <v-text-field
                      :rules="nameRules"
                      :label="$t('name_hint')+'*'"
                      v-model="model.name"
                      type="name"

                      required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions
            style="display: flex; justify-content: space-around; flex-direction: row; flex-wrap: wrap-reverse"
        >
<!--          <v-col>-->

<!--            <v-btn-->
<!--                style="padding: 3% 0"-->
<!--                :loading="loadingAddCustomer"-->
<!--                :disabled="loadingAddCustomer"-->
<!--                color="primary"-->
<!--                @click.prevent="submitDialog"-->
<!--            >-->

<!--              {{ $t('save') }}-->
<!--            </v-btn>-->
<!--          </v-col>-->
          <v-col v-show="haveCustomer">

            <v-btn
                class="btn-block"
                :loading="loadingAddCustomer"
                :disabled="loadingAddCustomer"
                color="warning"
                @click.prevent="submitCustomer"
            >

              {{ $t('save') }}
            </v-btn>
          </v-col>
          <v-col>

            <v-btn
                @click.prevent="closeDialog"
                class="btn-block"
                color="blue-grey"
                dark>
              <div  v-if="response.id !== undefined">
                {{ $t('close_customer') }}
              </div>
              <div  v-else>
                {{ $t('close') }}
              </div>
            </v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import {bus} from "../../main";
import PhoneComponent from "./PhoneComponent";
import AddressComponent from "./AddressComponent";
import helper from "../../mixins/helper";
import AddCustomerComponent from "./AddCustomerComponent";

export default {
  name: "MainAddressComponent",
  components: {AddressComponent, PhoneComponent, AddCustomerComponent},
  mixins: [helper],
  data: () => ({
    response: Object,
    // nameRules: [
    //   v => !!v || 'this is field required',
    //   // v => (v && v.length <= 10) || 'Name must be less than 10 characters',
    // ],
    valid: true,
    loader: null,
    loadingSearch: false,
    loadingAddCustomer: false,
    showDialogAddCustomer: false,
    showForm: false,
    search: '',
    model: {
      id: '',
      phone: '',
      address: '',
      building: '',
      floor: 0,
      flat: 0,
      shipping: 0,
      address_id: null
    }
  }),
  props: {
    dialog: Boolean,
    customerResponse: Object,
    request: Object
  },
  computed: {
    haveCustomer() {
      return this.response.phone !== undefined
    },
  },
  created() {
    let vm = this
    bus.$on('showDialogAddress', function (value) {
      vm.dialog = value
    })
  },
  watch: {
    loader() {
      const l = this.loader
      this[l] = !this[l]

      setTimeout(() => (this[l] = false), 3000)

      this.loader = null
    },
    customerResponse: {
      immediate: true,
      handler(val) {
        console.log("set Customer response "+val)
        if(val !== null){
          console.log("val customer not null")
          this.response = val
        }else{
          this.response = Object
          this.search = ''
          // this.resetInput()
        }
      }
    },
    request: {
      immediate: true,
      handler(val) {
        console.log("set request response "+val)
        if(val !== null){
          console.log("val not null")
          this.model.address_id = val.address_id
          this.model.name = val.name
          this.model.phone = val.phone
          this.model.shipping = val.shipping
        }
      }
    }
  },
  methods: {
    resetModel() {
      this.model.id = ''
      this.model.name = ''
      this.model.phone = ''
      this.model.address = ''
      this.model.address_id = -1
    },
    checkPhoneExist() {
//loader = 'loadingSearch'
      if (this.$refs.formSearch.validate()) {
        this.resetModel()
        this.response = Object
        this.$refs.form.reset()
        let l = 'loadingSearch'
        this[l] = !this[l]
        this.model.phone = this.search
        console.log("welcome")
        // search on user
        this.$axios.get(`${this.$apiUrl}/customer?search=` + this.model.phone, this.getHeaderRequest())
            .then(res => {
              this[l] = false
              if (this.isValidResponse(res)) {
                this.response = res.data.data
                //user exist
                if (this.response.addresses !== undefined) {
                  console.log("worked here")
                  this.model.name = this.response.name
                  this.setCustomerData()
                  this.showForm = false
                }
              }
            })
            .catch(error => {
              this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
              this[l] = false
              console.log(error.messageerror)
            })
      }

    },
    setCustomerData() {
      if (this.response.addresses.length > 0) {
        this.model.address = this.response.addresses[0].full_address
        this.model.address_id = this.response.addresses[0].id
        this.model.shipping = this.response.addresses[0].shipping
      }
      if(this.response.phone.length > 0){
        this.search = this.model.phone
      }
    },
    resetInput() {
      this.$refs.formSearch.reset()
      this.$refs.form.reset()
      this.showForm = false
    },
    submitCustomer() {
      if (this.model.address_id !== -1) {
        this.$emit('submitDialogAddress',this.response, this.model)
        // this.response = Object
      } else {
        this.$alertify.error(this.$t('msg.please_select_your_address'));
      }
    },
    closeDialog() {
      // this.resetInput()
      // this.response = Object
      if(this.response.id !== undefined)
        this.$emit('cancelCustomer')
      else{
        this.$emit('closeDialogAddress')
      }
    },
    setPhoneSelected(phone) {
      this.model.phone = phone
    },
    setAddressSelected(address) {
      this.model.address = address.full_address
      this.model.address_id = address.id
      this.model.shipping = address.shipping
      console.log(this.model)
    },
    updatePhoneList(phoneList) {
      this.response.phone = phoneList
      this.model.phone = phoneList[phoneList.length - 1]
    },
    //add new Address
    addAddress(address) {
      console.log("add Address")
      this.response.addresses.push(address)
      this.model.address = address.full_address
      this.model.address_id = address.id
      this.model.shipping = address.shipping
    },
    //update address with index
    updateAddress(index, address) {
      this.response.addresses[index]= address;
    },
    //add new customer
    newCustomer(customer) {
      this.response = customer
      this.showDialogAddCustomer = false
      this.setCustomerData()
    }
  },
}
</script>

<style scoped>

</style>