<template>
  <div>
    <!-- Add notes List -->
    <!--    <h3 class="cashier-text-bold">{{ $t('add_notes') }}</h3>-->

    <!-- Add notes form -->
    <v-dialog
        persistent
        class="v-dialog"
        v-model="showNotesDialog"
        max-width="500px"
    >
      <v-form
          ref="formNotes"
          lazy-validation
          @submit.prevent="submitNotes"
      >
        <v-card style="overflow-y: hidden">
          <v-card-title>
            <v-row>
              <v-textarea
                  autofocus
                  dir=auto
                  rows="5"
                  :counter="200"
                  maxlength="200"
                  :label="$t('add_notes')+'*'"
                  v-model="notesData"
                  type="text"
              ></v-textarea>
            </v-row>
          </v-card-title>
          <!--          <v-row>-->
          <!--            <v-col cols="6" style="margin: auto">-->
          <!--              <v-btn-->
          <!--                  style="padding: 3% 0"-->
          <!--                  class="btn-block"-->
          <!--                  @click="submitNotes"-->
          <!--                  :loading="loadingAddNotes"-->
          <!--                  :disabled="loadingAddNotes"-->
          <!--                  color="primary">-->
          <!--                {{ $t('save') }}-->
          <!--              </v-btn>-->
          <!--            </v-col>-->
          <!--            <v-col cols="6">-->

          <!--              <v-btn-->
          <!--                  @click.prevent="this.closeNotes(0)"-->
          <!--                  class="btn-block"-->
          <!--                  color="blue-grey"-->
          <!--                  dark-->
          <!--              >-->

          <!--                {{ $t('close') }}-->
          <!--              </v-btn>-->
          <!--            </v-col>-->
          <!--          </v-row>-->
          <div class="footer-actions">
            <v-btn
                class="action"
                @click.prevent="submitNotes">{{ $t('save') }}
            </v-btn>
            <v-btn
                class="action"
                @click.prevent="closeNotes()">{{ $t('cancel') }}
            </v-btn>
          </div>

        </v-card>
      </v-form>
    </v-dialog>

  </div>

</template>

<script>
import helper from "../../mixins/helper";

export default {
  name: "NotesComponent",
  mixins: [helper],
  data: () => ({
    notesData: ''
  }),
  props: {
    showNotesDialog: Boolean, //recieving from parent
    notes:String
  },
  emits: ['submitDialogNotes'],
  watch: {
    notes: {
      immediate: true,
      handler(val) {
        this.notesData = val
      }
    }
  },
  methods: {
    submitNotes() {
      this.$emit('submitNotesDialog', this.notesData)
    },
    closeNotes() {
      this.notesData = this.notes
      this.$emit('closeNotesDialog')
    }
  },
}
</script>

<style scoped>
.v-dialog {
  overflow-y: hidden;
}

.footer-actions {
  /*margin: 0;*/
  text-align: center;
  display: flex;
  /*flex: 1 1 0px;*/
}

.footer-actions > .action {
  width: 50%;
  color: white;
  background: var(--front-action);
  font-size: 1.0em;
  font-weight: bolder;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 0;
}

.footer-actions > .action:nth-child(2) {
  background: var(--text-grey);
}
</style>