<template>
  <div>
    <!-- Add phone List -->
    <h3 class="cashier-text-bold">{{ $t('phone_hint') }}</h3>
    <v-radio-group
        style="margin: 0; padding: 0"
        v-model="phoneSelected" v-for="(phone,index) in phoneList"
        :key="phone+index">
      <v-row no-gutters style="margin: 0; padding: 0">
        <v-col cols="8">
          <v-radio
              class="cashier-text-bold"
              @change="onChangePhone(phone)"
              :label="phone"
              color="orange"
              :id="'phone-'+phone+index"
              :value="phone"
          />
        </v-col>
        <v-col v-show="phoneList.length > 1 && phoneSelected !== phone">
          <v-btn
              @click="deletePhone(index)"
              :loading="loadingDeletePhone"
              :disabled="loadingDeletePhone"
              depressed
              color="error"
          >{{ $t('delete') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-radio-group>
    <v-btn
        color="blue darken-1"
        text
        @click="showPhoneDialogSubmit('')"
    >
      <v-icon left>
        mdi-plus
      </v-icon>
      {{ $t('add_phone') }}
    </v-btn>

    <!-- Add PHone form -->
    <v-dialog
        class="v-dialog"
        v-model="showPhoneDialog"
        max-width="500px"
    >
      <v-form
          v-model="valid"
          ref="formSearch"
          lazy-validation
          @submit.prevent="submitPhone">
        <v-card style="overflow-y: hidden">
          <v-card-title>

            <v-row>
              <v-col cols="8">
                <v-text-field
                    autofocus
                    dir=auto
                    :label="$t('phone_hint')+'*'"
                    v-model="model.phone"
                    :rules="phoneRules"
                    type="text"
                    required
                ></v-text-field>
              </v-col>
              <v-col cols="4" style="margin: auto">
                <v-btn
                    style="padding: 3% 0"
                    class="btn-block"
                    :loading="loadingAddPhone"
                    :disabled="loadingAddPhone"
                    color="primary">
                  {{ $t('save') }}
                </v-btn>
              </v-col>
            </v-row>
          </v-card-title>
        </v-card>
      </v-form>
    </v-dialog>

  </div>

</template>

<script>
import helper from "../../mixins/helper";

export default {
  name: "PhoneComponent",
  props: ['phoneList', 'phone_selected', 'id'],
  mixins: [helper],

  data: () => ({
    valid: true,
    loaderPhone: null,
    loadingAddPhone: false,
    loadingDeletePhone: false,
    phoneSelected: '',
    showPhoneDialog: false,
    model: {
      customer_id: '',
      phone: ''
    }
  }),
  watch: {
    phone_selected: {
      immediate: true,
      handler(val) {
        this.phoneSelected = val
      }
    },
    id: {
      immediate: true,
      handler(val) {
        this.model.customer_id = val
      }
    }
  },
  methods: {
    // onEnter: function() {
    //   this.submitPhone()
    // },
    onChangePhone(phone) {
      this.$emit('phoneSelected', phone)
    },
    showPhoneDialogSubmit(phone) {
      this.phone_dialog_text_value = phone
      this.showPhoneDialog = !this.showPhoneDialog
    },
    deletePhone(index) {
      if (index < this.phoneList.length) {
        let l = 'loadingDeletePhone'
        this[l] = !this[l]
        if (index < this.phoneList.length) {
          this.$axios.delete(`${this.$apiUrl}/phone?customer_id=` + this.id + "&phone=" + this.phoneList[index], this.getHeaderRequest())
              .then(res => {
                this[l] = false
                if (this.isValidResponse(res)) {
                  this.phoneList.splice(index, 1)
                }
              })
              .catch(error => {
                this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
                this[l] = false
                console.log(error.messageerror)
              })
        }

      }


    },
    submitPhone() {
      console.log(this.phoneList)
      console.log(this.model.phone)
      if (this.phoneList.includes(this.model.phone)) {
        this.$alertify.error(this.$t('sorry_phone_exist_before'));
        return
      }

      let l = 'loadingAddPhone'
      this[l] = !this[l]
      console.log(this.model)
      this.$axios.post(`${this.$apiUrl}/phone`, this.model, this.getHeaderRequest())
          .then(res => {
            this[l] = false
            if (this.isValidResponse(res)) {
              console.log(res.data.data)
              this.$emit('updatePhoneList', res.data.data)
              this.showPhoneDialog = false
              this.model.phone = ''
            }
          })
          .catch(error => {
            this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
            this[l] = false
            console.log(error.messageerror)
          })
    }
  },
}
</script>

<style scoped>
.v-dialog {
  overflow-y: hidden;
}
</style>