<template>
  <div>
    <v-dialog
        v-model="showSettings"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition">
      <!--      <template v-slot:activator="{ on, attrs }">-->
      <!--        <v-btn-->
      <!--            color="primary"-->
      <!--            dark-->
      <!--            v-bind="attrs"-->
      <!--            v-on="on"-->
      <!--        >-->
      <!--          Open Dialog-->
      <!--        </v-btn>-->
      <!--      </template>-->

      <div class="table-dialog-container">
        <div class="table-dialog-header">
          <label>{{ $t('settings') }}</label>
          <label class="hover" @click="$emit('closeSettings')">{{ $t('exit') }}</label>
        </div>
        <LoadingComponent v-if="loading"/>
        <div class="container">
          <v-form
              ref="formSettings"
              v-model="valid"
              lazy-validation
              @submit.prevent="submit"
          >
            <v-text-field
                class="row col-3"
                dir=auto
                :label="$t('number_print_order')"
                :rules="numberRules"
                v-model="model.order"
                type="number"
            ></v-text-field>
            <v-text-field
                class="row col-3"
                dir=auto
                :rules="numberRules"
                :label="$t('number_print_kitchen')"
                v-model="model.kitchen"
                type="number"
            ></v-text-field>
            <v-col cols="12" style="margin: auto">
              <v-btn
                  class="btn-main"
                  @click="submit"
                  color="">
                {{ $t('save') }}
              </v-btn>
            </v-col>
          </v-form>
        </div>
      </div>


    </v-dialog>
  </div>
</template>
<script>
import LoadingComponent from "../app/LoadingComponent"
import helper from "../../mixins/helper";

export default {
  name: "TableComponent",
  mixins: [helper],
  data() {
    return {
      tableSVG: require('../../assets/img/table.svg'),
      loadingSubmitTable: false,
      loading: false,
      tables: [],
      valid: true,
      model: {
        order: this.$store.getters.getPrintOrderCount,
        kitchen: this.$store.getters.getPrintKitchenCount,
      }
    }
  },
  emits: ['closeSettings'],
  props: ["showSettings"],

  components: {LoadingComponent},

  methods: {
    submit() {
      if (this.$refs.formSettings.validate()) {
        this.$store.dispatch("updateOrderCount", this.model.order)
        this.$store.dispatch("updateKitchenCount", this.model.kitchen)
        this.$alertify.success(this.$t('msg.your_data_had_been_saved_successfully'));
        this.$emit('closeSettings')
      }
    }
  },

}
</script>

<style scoped>
.table-dialog-container {
  background: white;
  height: 100%;
}

.table-dialog-header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  background: var(--front-action);
  font-weight: bolder;
  color: white;
}

.table-dialog-header > label {
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  margin: 15px;
}

.hover {
  cursor: pointer;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.v-btn {
  background: var(--front-action) !important;
  color: white;
}

.btn-main {
  text-align: center;
  width: 100%;
}

</style>