<template>
  <div>
    <v-dialog
        v-model.lazy="showTables"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition">
      <!--      <template v-slot:activator="{ on, attrs }">-->
      <!--        <v-btn-->
      <!--            color="primary"-->
      <!--            dark-->
      <!--            v-bind="attrs"-->
      <!--            v-on="on"-->
      <!--        >-->
      <!--          Open Dialog-->
      <!--        </v-btn>-->
      <!--      </template>-->

      <div dir="auto" class="table-dialog-container">
        <div class="table-dialog-header">
          <label class="hover" v-show="table_id !== -1">{{ $t('save') }}</label>
          <label class="hover" @click="closeTables">{{ $t('exit') }}</label>
        </div>
        <LoadingComponent v-if="loading"/>
        <div class="row" v-show="!loading && tables.length > 0">
          <div class="col-8">
            <div class="flex-container">
              <v-card
                  v-for="(item,index) in tables" :key="index+item.id"
                  @click="selectTable(item.id)"
                  class="product-container hover">

                <v-img
                    :src="item.status === 0 ? tableAvailable : tableBusy"
                    aspect-ratio="1"
                    class="product-img"
                >

                  <template v-slot:placeholder>
                    <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                    >
                      <v-progress-circular
                          indeterminate
                          color="grey lighten-5"
                      ></v-progress-circular>
                    </v-row>

                  </template>
                </v-img>
                <p class="cashier-item-name cashier-text-bold product-text">{{ item.name }}</p>
                <p class="cashier-item-name cashier-text-bold product-text table-status">
                  ({{ getTableStatus(item.status) }})</p>

              </v-card>
            </div>
            <!--            <div class="table-dialog-footer">-->
            <!--              <v-btn-->
            <!--                  depressed>-->
            <!--                {{ $t('save') }}-->
            <!--              </v-btn>-->
            <!--            </div>-->
          </div>
          <div class="col-4">
            <v-card>
              <v-card-title>
                <label>{{ $t('add_reservation') }}</label>
                <v-form
                    ref="formReservation"
                    v-model.lazy="valid"
                    lazy-validation
                    @submit.prevent="submitTable"
                >
                  <v-row>
                    <v-col cols="12">
                      <v-text-field
                          dir=auto
                          :label="$t('name')"
                          :rules="nameRules"
                          v-model.lazy="model.name"
                          type="text"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                          dir=auto
                          :label="$t('phone')"
                          :rules="phoneRules"
                          v-model.lazy="model.phone"
                          type="text"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                          dir=auto
                          :label="$t('capacity')"
                          :rules="numberRules"
                          v-model.lazy="model.capacity"
                          type="number"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                          dir=auto
                          :label="$t('min_charge')"
                          v-model.lazy="model.min_charge"
                          type="number"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <input
                          dir=auto
                          :label="$t('start_reservation')"
                          v-model.lazy="model.start_reservation"
                          type="datetime-local"
                          :min="min"
                      />
                    </v-col>
                    <v-col style="margin: auto">
                      <v-btn
                          style="padding: 3% 0"
                          class="btn-block"
                          @click="submitTable"
                          :loading="loadingSubmitTable"
                          :disabled="loadingSubmitTable"
                          color="primary">
                        {{ $t('save') }}
                      </v-btn>
                    </v-col>

                  </v-row>
                </v-form>
              </v-card-title>
            </v-card>

          </div>
        </div>


      </div>


    </v-dialog>
  </div>
</template>
<script>
import LoadingComponent from "../app/LoadingComponent"
import helper from "../../mixins/helper";

export default {
  name: "TableComponent",
  mixins: [helper],
  data() {
    return {
      tableAvailable: require('../../assets/img/circle_available.png'),
      tableBusy: require('../../assets/img/circle_busy.png'),
      loadingSubmitTable: false,
      loading: false,
      table_id: -1,
      tables: [],
      valid: true,
      model: {
        id: '',
        name: '',
        phone: '',
        number: 0,
        capacity: 0,
        start_reservation: 0,
        reservation_date: 0,
        min_charge: 0
      }
    }
  },
  mounted() {
    let user = this.$store.getters.getUser
    if(user !== null)
    this.model.id = this.$store.getters.getUser.id
  },
  props: ["showTables"],
  computed: {
    min() {
      //2021-11-20T08:30
      const today = new Date();
      const date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
      let hours = today.getHours()
      let minutes = today.getHours()
      if (hours < 10) hours += "0" + hours
      if (minutes < 10) minutes += "0" + minutes
      return date + 'T' + hours + ":" + minutes
    },
  },
  components: {LoadingComponent},
  watch: {
    showTables(newValue) {
      if (newValue)
        this.getTables()
    }
  },
  methods: {
    selectTable(index) {
      this.table_id = this.tables[index].id
    },
    submitTable() {
      if (this.$refs.formReservation.validate()) {
        console.log(this.model)
      }
    },
    closeTables() {
      // console.log("close Tables")
      this.$emit('closeTables')
    },
    getTables() {
      this.table_id = -1
      if (this.showTables) {
        this.loading = true
        this.$axios.get(`${this.$apiUrl}/tables?branch_id=` + this.model.id, this.header)
            .then(res => {
              this.loading = false
              console.log("arrived")
              this.tables = res.data.data

            })
            .catch(error => {
              this.loading = false
              this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
              console.log(error.messageerror)
            })
      }
    },
    getTableStatus(status) {
      let result = ""
      switch (status) {
        case 0:
          result = this.$t("available");
          break;
        case 1:
          result = this.$t("busy");
          break;
        case 2:
          result = this.$t("reserved");
          break;
      }

      return result
    }
  },

}
</script>

<style scoped>
.table-dialog-container {
  background: white;
  height: 100%;
}

.table-dialog-header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  background: var(--front-action);
  font-weight: bolder;
  color: white;
}

.table-dialog-header > label {
  margin-inline-start: 15px;
  margin-inline-end: 15px;
  margin: 15px;
}

.hover {
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  padding: 0 20px 60px 0;
  margin-top: 5px;
  justify-content: center;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.product-img {
  width: 120px;
  margin: auto;
}

.product-text {
  text-align: center;
  align-content: center;
  white-space: nowrap;
  word-break: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
}
.table-status{
  color: var(--text-silver);
}

.product-container {
  margin: 5px;
  height: fit-content;
}

.table-dialog-footer {
  width: 100%;
  text-align: center;
}

.v-btn {
  background: var(--front-action) !important;
  color: white;
}

</style>