<template>
  <!-- addition -->
  <div dir="auto">
    <div class="flex-container">
      <label v-if="productActive === -1">{{ $t('additions') }}</label>
      <label class="addition-product" v-else>{{ selectedMenu.products[this.productActive].name }}
        ({{ selectedMenu.products[this.productActive].price }}
        {{ $t('currency') }})</label>

      <!-- if choose product -->
      <div v-if="haveAddition" class="cart-body">
        <!-- cart loop selected -->
        <div class="cart-items">
          <div class="cart-item" v-for="(item, index) in selectedMenu.products[this.productActive].additions"
               :key="index">
            <div>
              <label class="addition-variation"
                     style="text-align: start; flex: auto;">
                {{ item.name }}
              </label>
              <label
                  style=" font-size: small; font-weight: bold; padding-inline-start: 10px">({{
                  (item.type === 'radio' ? $t('rsequired') : $t('optional'))
                }})</label>
            </div>
            <div v-for="option_addition in item.values" :key="option_addition.id" class="addition-item-container">
              <div class="addition-item">
                <!--                <label><input type="checkbox" :value=" option_addition.id">{{ option_addition.name }}</label>-->
                <div class="form-check">
                  <!--                  <inputo class="form-check-input" :type="item.type"-->
                  <!--                         :name="item.name" :value="item.type === 'checkbox' ? option_addition.is_checked  : option_addition.id"-->
                  <!--                         v-model="option_addition.is_checked" id="flexCheckChecked" />-->
                  <!-- if checkbox -->
                  <input class="form-check-input" v-if="item.type === 'checkbox'" type="checkbox"
                         :name="item.name"
                         :value="option_addition.is_checked"
                         v-model="option_addition.is_checked"
                         :id="'flexCheckChecked_'+option_addition.name+option_addition.id"/>
                  <!-- if radio -->
                  <input class="form-check-input" v-else-if="item.type === 'radio'" type="radio"
                         :name="item.name" :value="option_addition.id"
                         v-model="item.choose_id" :id="'flexCheckChecked_'+option_addition.name+option_addition.id"/>
                </div>
              </div>
              <div class="addition-item">

                <label class="text-justify" :for="'flexCheckChecked_'+option_addition.name+option_addition.id">
                  {{ option_addition.name }}
                </label>
              </div>
              <!--              <div class="center-ellipse col-4">-->
              <!--                &lt;!&ndash;                            <input type="text" readonly :value="item.qty">&ndash;&gt;-->
              <!--                &lt;!&ndash;                            <div>&ndash;&gt;-->
              <!--                &lt;!&ndash;                              <span class="ti-angle-up" @click="updateItemQty(index, item, 1)"></span>&ndash;&gt;-->
              <!--                &lt;!&ndash;                              <span class="ti-angle-down" @click="updateItemQty(index, item, 0)"></span>&ndash;&gt;-->
              <!--                <v-icon-->
              <!--                    v-show="option_addition.qty > 0"-->
              <!--                    @click="option_addition.qty++"-->
              <!--                    class="button"-->
              <!--                    color="orange"-->
              <!--                    dense-->
              <!--                >mdi-plus-->
              <!--                </v-icon>-->
              <!--                <input readonly :value="option_addition.qty" class="fk-qty__input t-bg-clear"-->
              <!--                       v-show="option_addition.qty > 0"/>-->
              <!--                <v-icon-->
              <!--                    v-show="option_addition.qty > 0"-->
              <!--                    @click="( option_addition.qty -1 > 0 ? option_addition.qty&#45;&#45; : option_addition.qty)"-->
              <!--                    class="button"-->
              <!--                    color="orange"-->
              <!--                    dense-->
              <!--                >mdi-minus-->
              <!--                </v-icon>-->

              <!--                &lt;!&ndash;                            </div>&ndash;&gt;-->
              <!--              </div>-->
              <div class="addition-item">
                <label>{{ (Number(option_addition.price)).toLocaleString() }} {{ $t('currency') }}</label>
              </div>

            </div>
            <!--            <span class="ti-trash" @click="dropItem(index)"></span>-->
          </div>
        </div>
        <!-- quantity for adding to cart -->
        <div class="cart-items">
          <div class="cart_item row">
            <div class="cart_item center-ellipse col-6">
              <!--                <label><input type="checkbox" :value=" option_addition.id">{{ option_addition.name }}</label>-->
              <label class="cashier-item-name cashier-gradient cashier-text-bold"
                     style="text-align: center; flex: auto; font-size: medium">
                {{ $t('quantity') }}
              </label>
            </div>
            <div class="center-ellipse col-6">
              <!--                            <input type="text" readonly :value="item.qty">-->
              <!--                            <div>-->
              <!--                              <span class="ti-angle-up" @click="updateItemQty(index, item, 1)"></span>-->
              <!--                              <span class="ti-angle-down" @click="updateItemQty(index, item, 0)"></span>-->
              <v-icon
                  @click="selectedMenu.products[productActive].qty++"
                  class="button btn-operator"
                  color="orange"
                  dense
              >mdi-plus
              </v-icon>
              <input readonly
                     :value="selectedMenu.products[productActive].qty"
                     class="fk-qty__input t-bg-clear"/>
              <v-icon
                  @click="( selectedMenu.products[productActive].qty -1 > 0 ? selectedMenu.products[productActive].qty-- : selectedMenu.products[productActive].qty)"
                  class="button btn-operator"
                  color="orange"
                  dense
              >mdi-minus
              </v-icon>

              <!--                            </div>-->
            </div>
          </div>
        </div>
        <!-- button add to cart -->
        <div class="cart-sum">
          <div class="cart-address">
            <v-btn
                @click="addAdditionToCart(selectedMenu.products[productActive])"
                block
                depressed
                color="error"
            >
              {{ $t('add_to_cart') }}
            </v-btn>
          </div>
        </div>

      </div>

      <!-- if else not choose product -->
      <div v-else class="cart-card">
        <label class="cashier-cart-body">{{ $t('there_are_no_additions') }}</label>
      </div>
    </div>
  </div>
  <!-- end addition -->
</template>

<script>
import helper from "../../mixins/helper";

export default {
  name: "AdditionComponent",
  data: () => ({
    selected: ''
  }),
  methods: {
    addAdditionToCart(product) {
      let result = this.addToCartWithAdditions(product)
      if (result === true) {
        for (const addition of product.additions) {
          if (addition.choose_id !== undefined) addition.choose_id = null
          if (addition.type === 'checkbox') {
            for (const value of addition.values) {
              value.is_checked = false
            }
          }
        }
        product.qty = 1
      }
    }
  },
  mixins: [helper],
  props: ['categories', 'selectedMenu', 'productActive'],
  computed: {
    haveAddition() {
      return this.productActive !== -1 && this.selectedMenu.products[this.productActive].additions.length > 0
    }

  }
}
</script>

<style scoped>
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  border-inline-start: 1px solid var(--text-grey);
  border-inline-end: 1px solid var(--text-grey);
  padding-bottom:60px;
  /*padding: 5px;*/
}

.flex-container > label {
  width: 100%;
}
.addition-product{
  font-size: 1.0em;
  font-weight: bolder;
  color: var(--front-action);
  text-align: center;
  margin-inline-start:5px;
  margin-inline-end: 5px;
}

.cart-body {
  width: 100%;
  height: 90vh;
}
.addition-variation{
  font-size: 1.0em;
  font-weight: bold;
  margin-top: 5px;
  color: var(--front-action);
  margin-bottom: 2px;
}
.cart-items > .cart-item:not(:last-child){
  border-bottom: 1px solid var(--text-grey);
}
.addition-item-container{
  display: flex;
}

.addition-item-container > .addition-item:nth-child(3){
  margin-left: auto;
}
.cart-item{
  align-items: baseline;
  padding: 5px;
}
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
</style>