<template>
  <div>

    <!--              start  cart-->
    <div v-if="cart.length > 0" dir="auto" class="container">

      <InvoiceComponent
          @closeInvoice="showInvoice = false"
          :model="model"
          :showInvoice="showInvoice"/>

      <MainAddressComponent
          @submitDialogAddress="submitDialogAddress"
          @closeDialogAddress="showDialogAddress = false"
          @cancelCustomer="removeDelivery"
          :customerResponse="customer"
          :request="model"
          :dialog="showDialogAddress"
          @click.prevent="openAddressDialog"/>
      <DiscountComponent
          :showDiscountDialog="showDialogDiscount"
          @submitDialogDiscount="submitDialogDiscount"
      />
      <NotesComponent
          :notes="this.model.notes"
          :showNotesDialog="showNotesDialog"
          @submitNotesDialog="submitNotesDialog"
          @closeNotesDialog="showNotesDialog = false"
      />
      <div class="cart-wrapper">

        <div class="cart-header">
          <!--                    <label>{{ $t('new_order') }}</label>-->
          <!--          <div class="delivery-type">-->
          <!--            <input type="radio" id="take-away" value="take-away" v-model="model.type">-->
          <!--            <v-radio-->
          <!--                class="delivery-type"-->
          <!--                @change="this.model.type = 'take-away'"-->
          <!--                :label="$t('take-away')"-->
          <!--                color="orange"-->
          <!--                :id="'take-away'"-->
          <!--                :value="'take-away'"-->
          <!--            />-->
          <!--            <v-radio-->
          <!--                class="delivery-type"-->
          <!--                @change="this.model.type = 'delivery'"-->
          <!--                :label="$t('delivery')"-->
          <!--                color="orange"-->
          <!--                :id="'delivery'"-->
          <!--                :value="'delivery'"-->
          <!--            />-->

          <v-radio-group class="delivery-type-container" v-model="model.type" row>
            <v-radio :label="$t('take-away')" value="take-away"
                     v-bind:class="model.type === 'take-away' ? 'delivery-type-selected' : 'delivery-type' "
                     @change="changeDeliveryType(1)"></v-radio>
            <v-radio :label="$t('delivery')"
                     v-bind:class="model.type === 'delivery' ? 'delivery-type-selected' : 'delivery-type' "
                     value="delivery" @change="changeDeliveryType(2)"></v-radio>
          </v-radio-group>

          <!--          <input type="radio" name="answer"-->
          <!--                 @change="changeDeliveryType(1)"-->
          <!--                 checked="true"-->
          <!--                 v-model="model.type" :value="model.type"/>-->
          <!--          <label-->
          <!--              v-bind:class="model.type === 'take-away' ? 'delivery-type delivery-type-selected' : 'delivery-type'  ">-->
          <!--            {{ $t('take-away') }}-->
          <!--          </label>-->
          <!--          <input type="radio" name="answer"-->
          <!--                 checked="false"-->
          <!--                 @change="changeDeliveryType(2)"-->
          <!--                 v-model="model.type" :value="model.type">-->
          <!--          <label-->
          <!--              v-bind:class="model.type === 'delivery' ? 'delivery-type delivery-type-selected' : 'delivery-type'  ">-->
          <!--            {{ $t('delivery') }}-->
          <!--          </label>-->

          <div v-show="model.type === 'delivery' ">
            <label v-show="address !== '' ">osama</label>
            <label v-if="model.address_id === null" class="hyper-link" style="font-size: small"
                   @click="showDialogAddress = true">
              {{ $t('add_customer') }}
            </label>
            <label v-else class="hyper-link"
                   @click="showDialogAddress = true">
              {{ customer.name }}
            </label>
          </div>
        </div>
        <div id="cart-body" class="cart-body">
          <div class="cart-item" v-for="(item, index) in cart" :key="index">
            <!-- start products -->
            <div class="row cart-item-details">
              <!--            <span class="ti-close button d-flex justify-content-end" @click="dropItem(index)"></span>-->
              <div class="center-ellipse col-4">

                <input
                    class="cart-checkbox"
                    :value="item.is_separate"
                    v-model="item.is_separate"
                    v-show="isSeparate"
                    type="checkbox"
                    :name="item.name"
                    @click="addToSeparateCheck(item)"
                    :id="'flexCheckChecked_'+item.name+item.id"/>
                <div class="cart-delete-container">
                  <b-icon class="icon-delete" @click="dropItem(index)" icon="x-circle" scale="1.4"
                          variant="danger"></b-icon>
                </div>

                <label>{{ item.name }}</label>
                <!--              <h6>{{ item.price }}</h6>-->
              </div>
              <div class="center-ellipse col-4">
                <!--                            <input type="text" readonly :value="item.qty">-->
                <!--                            <div>-->
                <!--                              <span class="ti-angle-up" @click="updateItemQty(index, item, 1)"></span>-->
                <!--                              <span class="ti-angle-down" @click="updateItemQty(index, item, 0)"></span>-->
                <v-icon
                    @click="updateCart(item,index,1)"
                    class="button btn-operator"
                    color="orange"
                    dense
                >mdi-plus
                </v-icon>
                <input readonly :value="item.qty" class="fk-qty__input t-bg-clear"/>
                <v-icon
                    @click="updateCart(item,index,-1)"
                    class="button btn-operator"
                    color="orange"
                    dense
                >mdi-minus
                </v-icon>

                <!--                            </div>-->
              </div>
              <div class="center-ellipse col-4">
                <label>{{ (Number(item.price) * Number(item.qty)).toLocaleString() }} {{ $t('currency') }}</label>
              </div>

            </div>
            <!-- end products -->

            <div v-for="(addition,index_addition) in item.additions" :key="addition.id+index_addition">
              <!--              <div >-->
              <!--                <div style="color: #717577; font-size: small; font-weight: bold">{{ addition.name }}:</div>-->
              <div v-for="(value,index_value) in addition.values" :key="addition.id+index_addition+index_value"
                   class="cart-addition-container">
                <label>{{ value.name }}</label>
                <label>{{ value.price }}
                  {{ $t('currency') }}</label>
              </div>
              <!--              </div>-->
            </div>
            <!--            <span class="ti-trash" @click="dropItem(index)"></span>-->
          </div>

        </div>
        <label v-show="model.notes.trim() !== ''"
               style="font-weight: bold; font-size: small; margin-inline-start: 5px; margin-inline-end: 5px">{{
            model.notes
          }}</label>
        <div class="cart-footer">
          <div class="container-price">

            <div class="row no-gutters">
              <label class="hyper-link" @click="openDiscountDialog">{{ $t('add_discount') }}</label>
              <label class="hyper-link" @click="openNotesDialog">{{ $t('add_notes') }}</label>
            </div>

            <div class="calculator">

              <VueInputCalculator
                  class="calculator-model"
                  v-model="calculatorNumber"
                  enableKeyboard
                  :is-history-logs="false"
                  textColor="#ffffff"
                  bgColor="#151515"
                  eventButtonsBgColor="#333333"
                  numberButtonsBgColor="#212121"
                  actionButtonsBgColor="#333333"
                  actionSuccessButtonBgColor="#156900">
                <div class="calculator-icon">
                  <svg style="width:48px;height:48px" viewBox="0 0 24 24">
                    <path fill="#00000"
                          d="M7,2H17A2,2 0 0,1 19,4V20A2,2 0 0,1 17,22H7A2,2 0 0,1 5,20V4A2,2 0 0,1 7,2M7,4V8H17V4H7M7,10V12H9V10H7M11,10V12H13V10H11M15,10V12H17V10H15M7,14V16H9V14H7M11,14V16H13V14H11M15,14V16H17V14H15M7,18V20H9V18H7M11,18V20H13V18H11M15,18V20H17V18H15Z"/>
                  </svg>

                </div>
              </VueInputCalculator>
            </div>


            <label>{{ $t('sub_total') }} : {{ subTotal }} {{ $t('currency') }}</label>
            <label>{{ $t('tax') }} : {{ model.tax }}%</label>
            <label v-show="model.shipping > 0">{{ $t('shipping_charge') }} : {{ model.shipping }} {{
                $t('currency')
              }}</label>
            <label v-show="model.service > 0">{{ $t('service') }} : {{ model.service }}%</label>
            <label v-show="model.discount > 0">{{ $t('discount') }} : {{ model.discount }} {{ $t('currency') }}</label>
            <label>{{ $t('total') }} : {{ total }} {{ $t('currency') }}</label>
          </div>
          <div class="price-flex" style="margin-top: 10px">

          </div>
          <!--        <h2 > {{ $t('checkout') }}</h2>-->
          <h3 v-show="address !== '' ">{{ address }}</h3>
          <small v-show="address !== '' "><b>Address</b></small>
          <p v-show="address !== '' ">{{ address }}</p>
          <!--        <b-button v-b-modal.modal-1>welcome in Cashier</b-button>-->
          <div class="footer-actions">
            <!--            <label @click="collectOrder" v-show="this.total > 0"-->
            <!--                   :loading="loadingCart"-->
            <!--                   :disabled="loadingCart"-->
            <!--            >{{ $t('check') }}</label>-->

            <v-btn
                class="action-btn teal"
                :loading="loadingPrint"
                :disabled="loadingPrint"
                @click.prevent="print"
                v-show="this.subTotal > 0"
            >
              {{ $t('print') }}
            </v-btn>


            <v-btn
                class="action-btn cyan"
                :loading="loadingCart"
                :disabled="loadingCart"
                @click.prevent="collectOrder"
                v-show="this.subTotal > 0"
            >
              {{ $t('collect') }}
            </v-btn>


            <v-btn
                class="action-btn primary"
                @click.prevent="submitSeparateCheck">
              {{ $t('separate_checks') }}
            </v-btn>

            <v-btn
                class="action-btn error"
                @click.prevent="clearCart">
              {{ $t('clear') }}
            </v-btn>


            <!--            <label @click="submitSeparateCheck">{{ $t('separate_checks') }}</label>-->
            <!--            <label @click="clearCart">{{ $t('clear') }}</label>-->
          </div>
        </div>

      </div>
    </div>
    <div v-else class="cart-card">
      <label class="cashier-cart-body">{{ $t('there_are_no_items_in_cart') }}</label>
    </div>
  </div>

</template>
<script>

import Response from "../../mixins/helper";
import helper from "../../mixins/Response";
import MainAddressComponent from "../dialog/MainAddressComponent";
import {bus} from '../../main'
import DiscountComponent from "../dialog/DiscountComponent";
import InvoiceComponent from "../dialog/InvoiceComponent"; // import the bus from main.js or new file
import VueInputCalculator from "vue-input-calculator";
import {DeliveryMethods} from "../../store/Config";
import NotesComponent from "../dialog/NotesComponent";

const Swal = require("sweetalert2");

export default {
  name: "CartComponent",
  components: {
    NotesComponent,
    InvoiceComponent,
    DiscountComponent,
    MainAddressComponent,
    VueInputCalculator,
  },
  data: () => ({
    address: '',
    calculatorNumber: 0,
    showDialogAddress: false,
    showDialogDiscount: false,
    showNotesDialog: false,
    showInvoice: false,
    loader: null,
    printCart: false,
    loadingCart: false,
    loadingPrint: false,
    customer: null,
    model: {
      products: [],
      customer_id: null,
      order_id: null,
      total: 0,
      tax: 14,
      sub_total: 0,
      service: 0,
      discount: 0,
      type: DeliveryMethods.TAKE_AWAY,
      address_id: null,
      username: "",
      shipping: 0,
      phone: "",
      notes: "",
      table_id: 1,
      is_collected: 0
    }
  }),
  mixins: [helper, Response],
  props: ['lang', 'config'],
  watch: {
    config(config) {
      this.model.tax = config.tax
      this.model.service = config.service
    }
  },
  methods: {
    print(){
      Swal.fire({
        title: this.$t('are_you_sure'),
        text: this.$t('you_want_to_print_check'),
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#ff5252',
        cancelButtonColor: '#1D2231',
        cancelButtonText: this.$t('cancel'),
        confirmButtonText: this.$t('yes')
      }).then((result) => {
        if (result.isConfirmed) {
          this.model.is_collected = 0
          this.model.total = this.total
          this.model.sub_total = this.subTotal
          JSON.stringify(this.model)
          console.log(this.model.type)
          let l = 'loadingPrint'
          this[l] = !this[l]
          console.log(this.model)
          this.$axios.post(`${this.$apiUrl}/orders`, this.model, this.getHeaderRequest())
              .then(res => {
                this[l] = false
                if (this.isValidResponse(res)) {
                  // console.log(res.data.data)
                  // this.printDiv(res.data.data)
                  this.$alertify.success(res.data.message);
                  this.resetCart()
                  this.$store.dispatch("clear")
                }

              })
              .catch(error => {
                this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
                this[l] = false
                console.log(error.response)
              })
        }
      })
    },
    printDiv(printerData) {
      const ipcRenderer = require("electron").ipcRenderer;
      ipcRenderer.send("print", printerData);
      ipcRenderer.on("print", (event, content) => {
        ipcRenderer.send("readyToPrint",content);
      });
    },

    removeDelivery() {
      this.model.phone = ""
      this.model.username = ""
      this.model.shipping = 0
      this.model.address_id = null
      this.model.customer_id = null
      this.model.type = DeliveryMethods.TAKE_AWAY
      this.customer = null
      this.showDialogAddress = false
      // this.model.reset()
    },
    changeDeliveryType(value) {
      console.log("value:" + value)
      if (value === 1) {
        this.removeDelivery()
      } else
        this.model.type = DeliveryMethods.DELIVERY
    },
    clearCart() {
      Swal.fire({
        title: this.$t('are_you_sure'),
        text: this.$t('you_wont_be_able_to_revert_this'),
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#ff5252',
        cancelButtonColor: '#1D2231',
        cancelButtonText: this.$t('cancel'),
        confirmButtonText: this.$t('yes_delete_it')
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(this.$t('deleted'), this.$t("data_has_been_deleted_successfully"), "success");
          this.$store.dispatch("clear")
        }
      })
    },
    dropItem(index) {
      this.$store.dispatch("dropItem", index)
      this.$alertify.success(this.$t('msg.item_removed_from_cart'));
    },
    updateCart(product, index, qty) {
      if (product.qty + qty > 0) {
        this.$store.dispatch("updateCart", {
          index: index,
          qty: product.qty + qty
        })
        // this.$alertify.success(this.$t('msg.add_to_cart'));
      } else
        this.$alertify.error(this.$t('msg.item_couldnt_be_less_than_1'));
    },
    openAddressDialog() {
      bus.$emit('showDialogAddress', true) // emit the event to the bus
    },
    openDiscountDialog() {
      this.showDialogDiscount = true
      bus.$emit('showDialogDiscount', true) // emit the event to the bus
    },
    openNotesDialog() {
      this.showNotesDialog = true
      bus.$emit('showNotesDialog', true) // emit the event to the bus
    },
    submitDialogAddress(response, model) {
      this.customer = response
      this.showDialogAddress = false
      this.model.customer_id = this.customer.id//set customer id
      this.model.address_id = model.address_id
      this.model.username = model.name
      this.model.phone = model.phone
      this.model.shipping = model.shipping
      console.log('customer_id:' + this.model.customer_id)
      console.log('name:' + this.customer.name)
      // JSON.stringify(this.model)
    },
    submitDialogDiscount(discount) {
      this.showDialogDiscount = false
      this.model.discount = discount
    },
    submitNotesDialog(notes) {
      this.showNotesDialog = false
      this.model.notes = notes
    },
    collectOrder() {
      console.log(this.total)
      this.model.total = this.total
      this.model.sub_total = this.subTotal
      // this.showInvoice = true
      //print here without invoice
      this.model.products = this.getCartItems()
      console.log(this.model.products[0].id)
      // console.log(this.model.items)
      // console.log(this.model.items.length)
      this.callApiCreateOrder()
    },
    callApiCreateOrder() {
      if (this.model.type === DeliveryMethods.DELIVERY && this.model.customer_id === null) {
        this.$alertify.error(this.$t('please_select_your_customer_for_delivery'));
      } else {
        this.model.is_collected = 1
        this.model.total = this.total
        this.model.sub_total = this.subTotal
        JSON.stringify(this.model)
        console.log(this.model.type)
        let l = 'loadingCart'
        this[l] = !this[l]
        console.log(this.model)
        this.$axios.post(`${this.$apiUrl}/orders`, this.model, this.getHeaderRequest())
            .then(res => {
              this[l] = false
              if (this.isValidResponse(res)) {
                // console.log(res.data.data)
                this.printDiv(res.data.data)
                this.$alertify.success(res.data.message);
                this.resetCart()
                this.$store.dispatch("clear")
              }

            })
            .catch(error => {
              this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
              this[l] = false
              console.log(error.response)
            })
      }
    },
    submitSeparateCheck() {
      let currentSeparate = this.$store.getters.getIsSeparate
      console.log("submitSeparateCheck_current:" + currentSeparate)
      let newSeparate = true
      if (currentSeparate) newSeparate = false
      this.$store.dispatch("changeSeparate", newSeparate)

    },
    addToSeparateCheck(item) {
      console.log("addToSeparateCheck:" + item.id)
      this.$store.dispatch("addToSeparate", item)
    },
    resetCart() {
      this.notes = ""
      this.request = null
      this.address_id = null
      this.address = ''
      this.removeDelivery()
    }
  },
  computed: {
    cart() {
      return this.$store.getters.getCart
    },
    subTotal() {
      return this.$store.getters.getTotal
    },
    total() {
      return this.$store.getters.getTotal + this.model.shipping - this.model.discount + ((this.$store.getters.getTotal * this.model.tax) / 100) + ((this.$store.getters.getTotal * this.model.service) / 100)
    },
    isSeparate() {
      return this.$store.getters.getIsSeparate
      // return false
    }
  }
}
</script>

<style scoped>
.container {
  display: flex;
  height: 90vh;
  /*background: lightblue;*/
  background-color: white;

  flex: 1;
  /*background-color: gray;*/
  position: relative;
}

.calculator {
  float: right;
}

.calculator-icon {
  max-width: fit-content;
  cursor: pointer;
}

.delivery-type-container {
  margin: 0;
}

.delivery-type >>> label {
  /*font-size: small !important;*/
  font-weight: bold !important;
  align-self: center;
  font-size: small;
  color: #9b9b9b !important;
}

.delivery-type-selected >>> label {
  font-weight: bold !important;
  align-self: center;
  font-size: small;
  color: #b30000 !important;
}

.cart-wrapper {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  position: absolute;
  background: #f2f1f5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cart-body {
  flex: 6;
  background: #f2f1f5;
  overflow-y: auto;
  overflow-x: hidden;

}

.cart-item {
  border-bottom: 1px solid silver;
}

.cart-item-details {
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-top: 3px;
  margin-bottom: 3px;
}

/*.cart-body > .cart-item:not(:first-child) {*/
/*  border: 1px solid silver;*/
/*}*/


.cart-delete-container {
  position: relative;
  /*float: right;*/
  top: 0;
  cursor: pointer;
  display: initial;
  padding-inline-end: 5px;
}

.icon-delete {
  width: 11px;
}

.cart-header {
  font-weight: bolder;
  text-transform: capitalize;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  /*color: var(--front-action);*/
  font-size: 1.2em;
  text-align: center;
}

/*.cart-header > label{*/
/*}*/
.cart-header > div > label {
  margin-left: 1px;
  margin-right: 1px;
}

.cart-header > div > label:nth-child(1) {
  color: black;
  font-size: 0.8em;
}

.hyper-link {
  color: #1976d2 !important;
  font-size: 0.8em;
  text-decoration: underline;
  cursor: pointer;
  text-align: end;
  width: fit-content;
  font-weight: bold;
}

.cart-addition-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
  color: #9b9b9b;
  font-size: small;
}

.cart-footer {
  flex: 1;
  background: #e6e6e6;
  /*background-color: gray;*/
}

.container-price {
  margin-inline-start: 8px;
  margin-top: 8px;
  margin-inline-end: 8px;
}

.container-price > label:not(:last-child) {
  color: #9b9b9b;
  font-weight: bold;
  display: block;
  font-size: 0.8em;
}

.container-price > label:last-child {
  color: #484848;
  display: block;
  font-weight: bolder;
  font-size: 0.9em;
}

.footer-actions {
  margin: 0;
  text-align: center;
  display: flex;
}

.footer-actions > .action-btn {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 2px;
  cursor: pointer;
  color: white;
  background: var(--front-action);
  font-weight: bolder;
  padding-top: 3px;
  padding-bottom: 3px;
  text-transform: lowercase;
  font-size: revert;
}

.footer-actions > .seprate-check {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  cursor: pointer;
  color: white;
  background: var(--front-seprate-check);
  font-weight: bolder;
  padding-top: 3px;
  padding-bottom: 3px;
  text-transform: lowercase;
  font-size: revert;
}

/*.footer-actions > label {*/
/*  flex-grow: 1;*/
/*  flex-shrink: 1;*/
/*  margin: 0;*/
/*  cursor: pointer;*/
/*  color: white;*/
/*  background: var(--front-action);*/
/*  font-size: 1.0em;*/
/*  font-weight: bolder;*/
/*  padding-top: 3px;*/
/*  padding-bottom: 3px;*/
/*}*/

.footer-actions > .action-btn:nth-child(1n) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.cart-checkbox {
  /*float: left;*/
  display: block;
}
</style>
