<template>
  <!--  <div class="front-sidebar">-->

  <!--    <b-collapse v-model="navOpen" class="front-sidemenu" id="nav-text-collapse" is-nav>-->

  <!--        <ul style="text-align: center">-->
  <!--          <li v-for="(category, index) in categories" :key="category.id+index" :class="active === index? 'active' : ''"-->
  <!--              @click="$emit('active',index)">-->
  <!--            &lt;!&ndash;          v-b-popover.hover.right="category.menu_items.length +' '+ $t('product')"&ndash;&gt;-->
  <!--            <img-->
  <!--                :title="category.name"-->
  <!--                :id="index"-->
  <!--                class="img-fluid category-img"-->
  <!--                src="../../assets/img/burger.png"-->
  <!--                :alt="category.name"-->
  <!--            />-->
  <!--            <label class="category-name" v-text="category.name"/>-->
  <!--          </li>-->
  <!--        </ul>-->

  <!--    </b-collapse>-->
  <!--  </div>-->


  <div class="category-container">
    <div
         v-bind:class="active === index ? 'category-item category-item-selected' : 'category-item category-item-not-selected' "
         @click="$emit('active',index)" v-for="(category,index) in categories" :key="category.id+index">
      {{ category.name }}
    </div>

<!--    <v-col class="card-container" v-for="(category,index) in categories" :key="category.id+index">-->
<!--      <div-->
<!--          @click="$emit('active',index)"-->
<!--          class="card-item">-->
<!--        <label class="card-title">-->
<!--          {{ category.name }}-->
<!--        </label>-->
<!--      </div>-->
<!--    </v-col>-->
  </div>


</template>

<script>
export default {
  name: "CateogriesComponent",
  props: ['categories', 'active', 'selected-menu'],
  data() {
    return {
      screenLimit: 700,
      navOpen: true,
    }
  },
  emits: ['active'],
  computed: {}
}
</script>

<style scoped>
.category-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.category-item {
  border-radius: 25px;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: small;
  flex: 1 1 fit-content;
  margin: 3px;
  font-weight: bolder;
}
.category-item-selected{
  background: var(--main-gradient);
  color: white;
}

.app-splash-background{
  background: var(--main-gradient);
}
.category-item-not-selected{
  background: #e6e6e6;
  color: black;
}

.category-item:hover {
  cursor: pointer;
}

.card-title {
  /*white-space: nowrap;*/
  /*word-break: normal;*/
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  text-align: start;
  margin: auto;
  color: white;
}
</style>
