<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<template>

  <!--  <div >-->

  <!--    start ==================================================================== >-->
  <!--      end category-->

  <!--        <Nav :cart="cart" :categories="categories" :user="user"/>-->

  <div>
    <AppBarComponent
        @showTables="showTables = true"
        @logout="logout"
        @reCallCategories="reCallCategories = true"/>

    <div>
      <v-row no-gutters>
        <!--              cols="12" lg="6" md="6" sm="6"-->
        <v-col>
          <LoadingComponent v-if="loading"/>


          <CateogriesComponent :categories="categories" :selected-menu="this.selectedMenu"
                               @active="setActive"
                               :active="this.active"/>

          <ProductsComponent
              v-if="!loading &&  this.selectedMenu !== undefined && this.selectedMenu.products !== undefined "
              @productActive="setProductActive" :categories="this.categories"
              :selectedMenu="this.selectedMenu" :active="this.active"/>

          <TableComponent :showTables="showTables" @closeTables="closeTables"/>
        </v-col>

        <!--              <v-container >-->
        <v-col v-if="haveAddition">
          <v-row no-gutters>
            <!--                  cols="12" lg="5" md="6" sm="5"-->
            <v-col>
              <AdditionComponent :categories="this.categories" :selected-menu="this.selectedMenu"
                                 :productActive="productActive" :active="this.active"/>
            </v-col>
            <!--                  col-xl-3 col-lg-4  col-md-4 col-sm-4-->
            <!--                  cols="12" lg="7" md="6" sm="7"-->
            <v-col>
              <CardComponent
                  :config="this.config"
                  :lang="this.lang"/>
            </v-col>
          </v-row>
        </v-col>
        <v-col v-if="!haveAddition" cols="4">
          <v-row no-gutters>
            <v-col>
              <CardComponent
                  :config="this.config"
                  :lang="this.lang"/>
            </v-col>
          </v-row>
        </v-col>
        <!--              </v-container>-->

      </v-row>
    </div>
  </div>

  <!--      end=================================================================-->

  <!--    </div>&lt;!&ndash;end row &ndash;&gt;-->
  <!--  </div>&lt;!&ndash;end container &ndash;&gt;-->
</template>

<script>
// import paystack from 'vue-paystack'
// import Nav from '../../components/Nav'
// import modal from '@/components/Modal'
import CardComponent from "./CartComponent";
import AdditionComponent from "./AdditionComponent";
import ProductsComponent from "./ProductsComponent";
import CateogriesComponent from "./CateogriesComponent";
import LoadingComponent from "../app/LoadingComponent";
import TableComponent from "../dialog/TableComponent"
import helper from "../../mixins/helper";
import AppBarComponent from "../app/AppBarComponent";
const Swal = require("sweetalert2");

export default {
  name: 'Home',
  mixins: [helper],
  components: {
    AppBarComponent,
    TableComponent,
    LoadingComponent,
    CateogriesComponent,
    ProductsComponent,
    AdditionComponent,
    CardComponent,
    // paystack,
    // modal,
    // Nav,
  },

  data() {
    return {
      paystackkey: "pk_test_YOUR_PAYSTACK_TEST_KEY", //paystack public key
      categories: [],
      config: Object,
      active: 0,
      productActive: -1,
      bool: true,
      screenLimit: 700,
      loading: false,
    }
  },
  props: {
    reCallCategories: Boolean, //set reCallCategories from AppBarComponent
    showTables: Boolean,

  },
  watch: {
    reCallCategories(newValue) {//set watch to change value in AppBarComponent in refresh
      if (newValue) this.getCategories()
    },
    showTables(newValue) {
      console.log("here in Home ")
      if (newValue) {
        this.showTables = true
      }
    }
  },
  mounted() {
    var now = Date.now()
    var max = this.expireDate

    this.getCategories()
    // const res = this.axiosTest(`${this.$apiUrl}/categories/all`)

    // const res = this.request('categories/all',this.METHOD.GET)

    // console.log("result: " + res)
  },
  methods: {
    resize: function () {
      return window.innerWidth < this.screenLimit;
    },
    getCategories() {
      this.loading = true
      this.$axios.get(`${this.$apiUrl}/categories`,this.getHeaderRequest())
          .then(res => {
            console.log("here fetch")
            this.loading = false
            this.categories = res.data.data.categories
            this.config = res.data.data.config
            this.$emit('reCallCategories') //set reCallCategories value in AppBarComponent = false
          })
          .catch(error => {
            this.loading = false
            this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
            console.log(error.messageerror)
          }), {
        headers: {
          'Authorization': `Basic 12345`
        }
      }
    },

    setActive(active) {
      this.active = active
      this.productActive = -1
    },
    setProductActive(productActive) {
      this.productActive = productActive
      console.log(productActive)
    },
    closeTables() {
      this.$emit('closeTables')
    },
    logout(){
      Swal.fire({
        title: this.$t('are_you_sure'),
        text: this.$t('you_want_to_logout_of_system'),
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#ff5252',
        cancelButtonColor: '#1D2231',
        cancelButtonText: this.$t('cancel'),
        confirmButtonText: this.$t('yes')
      }).then((result) => {
        if (result.isConfirmed) {
          this.$store.dispatch("clear")
          this.$store.dispatch("logout")
          this.$router.push("/login").catch(()=>{});
        }
      })

    }
  },
  computed: {
    haveAddition() {
      return this.productActive !== -1 && this.selectedMenu.products[this.productActive].additions.length !== 0;
    },
    selectedMenu() {
      return this.categories[this.active]
    },
    lang() {
      return this.$store.getters.getLanguage
    },
    reference() {
      let text = "";
      let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"
      for (let i = 0; i < 10; i++) {
        text += possible.charAt(Math.floor(Math.random() * possible.length))
      }
      return text;
    },
    validateCheckoutData() {
      //const {name, email, city, address, phone, zip} = this.checkout

      //return !name || !email || !city || !address || !phone || !zip
      return false
    }
  }

}
</script>
<style scoped>
.home-container {
  /*margin: 0;*/
}
</style>
