<template >
  <div class="flex-container">
    <v-card @click="addToCart(item,index)" class="product-container" v-for="(item, index) in selectedMenu.products" :key="item.id + index">

      <v-img
          :src="item.image"
          aspect-ratio="1"
          class="product-img"
      >
        <div v-if="haveAddition(item)" class="price-container">{{ $t('as_per_choice')}}</div>
        <div v-else class="price-container"> {{ item.price +` `+ $t('currency')}}</div>

        <template v-slot:placeholder>
          <v-row
              class="fill-height ma-0"
              align="center"
              justify="center"
          >
            <v-progress-circular
                indeterminate
                color="grey lighten-5"
            ></v-progress-circular>
          </v-row>

        </template>
      </v-img>
      <p class="cashier-item-name cashier-gradient cashier-text-bold product-text">{{ item.name }}</p>

    </v-card>

  </div>
</template>

<script>
import helper from "../../mixins/helper";

export default {
  name: "ProductsComponent",
  props: ['selectedMenu'],
  emits: ["productActive"],
  mixins: [helper],
  methods: {
    haveAddition(item){
      return item.additions !== undefined && item.additions.length > 0;
    }
  }
}
</script>

<style scoped>
.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  height: fit-content;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  padding:0 20px 60px 0;
}
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.product-img{
  width: 120px;
  margin: auto;
}
.product-text{
  text-align: center;
  align-content: center;
  white-space: nowrap;
  word-break: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
}
.product-container{
  margin: 5px;
  height: fit-content;
}
.price-container{
  border-bottom-left-radius: 15px;
  background: var(--front-action);
  padding: 5px;
  font-size: 0.7em;
  font-weight: bolder;
  color: white;
  width: fit-content;
  height: fit-content;
}
</style>