<template>
  <div style="background: white" dir="auto">
    <v-dialog
        scrollable
        v-model="deliveryOrders"
        fullscreen
        hide-overlay
        persistent
        transition="dialog-bottom-transition">
      <div class="table-dialog-container">
        <div class="table-dialog-header">
          <label class="hover" @click="$emit('closeSendDelegate')">{{ $t('exit') }}</label>
        </div>
        <LoadingComponent v-if="loading"/>
        <div class="orders-container" v-if="this.response !== undefined && this.response.orders !== undefined ">
          <h1 v-if="this.response.orders.length === 0">
            {{ $t('sorry_there_no_any_orders') }}
          </h1>
          <div v-else class="row">
            <SendDelegateComponent
                @closeDialogDelegate="showDelegateDialog = false"
                @submitDelegate="submitDelegate"
                :delegates="response.deliveries"
                :order_id="response.orders[active].id"
                :showDelegateDialog="showDelegateDialog"/>

            <div class="col-2">
              <li v-for="(item,index) in this.response.orders" :key="index">
                <div @click="changeCustomer(index)"
                     v-bind:class="active === index ? 'hover customer customer-selected' : 'hover customer customer-not-selected' ">
                  {{ item.customer.name }}
                </div>
              </li>
            </div>
            <div class="col-8" >
              <div v-if="active !== -1" style="margin-inline-start: 10px; margin-inline-end: 10px;">
                <div class="row">
                  <label class="col-2 label-header">{{ $t('invoice_number') }}</label>
                  <label class="col-8 label-value">{{ this.response.orders[active].id }}</label>
                </div>
                <div class="row">
                  <label class="col-2 label-header">{{ $t('date') }}</label>
                  <label class="col-8 label-value">{{ this.response.orders[active].created_at }}</label>
                </div>
                <div class="row">
                  <label class="col-2 label-header">{{ $t('name_hint') }}</label>
                  <label class="col-8 label-value">{{ this.response.orders[active].customer.name }}</label>
                </div>
                <div class="row">
                  <label class="col-2 label-header">{{ $t('phone_hint') }}</label>
                  <label class="col-8 label-value">{{ this.response.orders[active].phone }}</label>
                </div>
                <div class="row">
                  <label class="col-2 label-header">{{ $t('full_address_hint') }}</label>
                  <label class="col-8 label-value">{{ this.fullAddress() }}</label>
                </div>
                <div class="row">
                  <table id="customers">
                    <tr>
                      <th>{{ $t('quantity') }}</th>
                      <th>{{ $t('product') }}</th>
                      <th>{{ $t('price') }}</th>
                    </tr>
                    <tr v-for="(item,index) in this.response.orders[active].products" :key="index">
                      <td>{{ item.quantity }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.price }}</td>
                    </tr>
                  </table>

                </div>
                <div class="row">
                  <label class="col-2 label-header">{{ $t('shipping_charge') }}</label>
                  <label class="col-8 label-value">{{ this.response.orders[active].shipping }} {{ $t('currency') }}</label>
                </div>
                <div class="row">
                  <label class="col-2 label-header">{{ $t('sub_total') }}</label>
                  <label class="col-8 label-value">{{ this.response.orders[active].subtotal }}
                    {{ $t('currency') }}</label>
                </div>

                <div class="row">
                  <label class="col-2 label-header">{{ $t('discount') }}</label>
                  <label class="col-8 label-value">{{ this.response.orders[active].discount }}
                    {{ $t('currency') }}</label>
                </div>
                <div class="row">
                  <label class="col-2 label-header">{{ $t('tax') }}</label>
                  <label class="col-8 label-value">{{ this.response.orders[active].tax }} {{ $t('currency') }}</label>
                </div>
                <div class="row">
                  <label class="col-2 label-header">{{ $t('total') }}</label>
                  <label class="col-8 label-value">{{ this.response.orders[active].total }} {{ $t('currency') }}</label>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div v-if="this.response.orders[active].delivery_id === null" class="row" style="margin: 10px">
                <v-btn
                    style="padding: 3% 0; margin: 10px"
                    class="btn-secondary"
                    @click="showDelegateDialog = true"
                    color="warning">
                  {{ $t('assign_delegate') }}
                </v-btn>
              </div>
              <div class="row" style="margin: 10px">
                <v-btn
                    :loading="loadingPrintReset"
                    :disabled="loadingPrintReset"
                    style="padding: 3% 0; margin: 10px"
                    class="btn-block"
                    @click="printReset"
                    color="primary">
                  {{ $t('print_reset') }}
                </v-btn>
              </div>
<!--              <div v-if="this.response.orders[active].delivery_id === null" class="row" style="margin: 10px">-->
<!--                <v-btn-->
<!--                    style="padding: 3% 0; margin: 10px"-->
<!--                    class="btn-warning"-->
<!--                    @click="updateReset"-->
<!--                    color="secondary">-->
<!--                  {{ $t('update_reset') }}-->
<!--                </v-btn>-->
<!--              </div>-->
              <div class="row" style="margin: 10px">
                <v-btn
                    :loading="loadingCancelOrder"
                    :disabled="loadingCancelOrder"
                    style="padding: 3% 0; margin: 10px"
                    @click.prevent="cancelOrder"
                    class="error"
                >
                  {{ $t('cancel_order') }}
                </v-btn>
              </div>
              <div v-if="this.response.orders[active].delivery_id !== null" class="row" style="margin: 10px">
                <v-btn
                    :loading="loadingCollectMoney"
                    :disabled="loadingCollectMoney"
                    style="padding: 3% 0; margin: 10px"
                    @click.prevent="collectMoney"
                    class="btn-success"
                    color="success"
                >
                  {{ $t('order_collection') }}
                </v-btn>
              </div>
            </div>
          </div>
        </div>
      </div>


    </v-dialog>
  </div>
</template>
<script>
import LoadingComponent from "../../app/LoadingComponent"
import helper from "../../../mixins/helper";
import SendDelegateComponent from "./SendDelegateComponent";
const Swal = require("sweetalert2");

export default {
  name: "TableComponent",
  mixins: [helper],
  data() {
    return {
      loaderAssignDelegate: null,
      loadingCollectMoney: false,
      loadingCancelOrder: false,
      loadingPrintReset: false,
      loading: false,
      response: Object,
      valid: true,
      showDelegateDialog: false,
      active: -1,
      model: {
        order_id: -1,
        delivery_id: -1,
        is_collected: 1,
      }
    }
  },
  props: ["deliveryOrders"],
  components: {SendDelegateComponent, LoadingComponent},
  watch: {
    deliveryOrders(newValue) {
      if (newValue)
        this.getOrders()
    }
  },
  methods: {
    getAddress() {
      let order = this.response.orders[this.active]
      return order.customer.addresses.find(address => {
        if (order.address_id === address.id) return address
      });
    },
    fullAddress() {
      console.log("active_here:" + this.active)
      if (this.active !== -1) {
        let address = this.getAddress()
        // console.log("full_address:"+address.full_address)
        return "(" + address.full_address + ") - "
            + this.$t('building') + " (" + address.building + ") - "
            + this.$t('floor') + " (" + address.floor + ") - "
            + this.$t('flat') + " (" + address.flat + ") - "
            + this.$t('special_sign') + " (" + address.special_sign + ")"
      }
      return ""
    },
    changeCustomer(index) {
      this.active = index
    },
    getOrders() {
      this.response = Object
      if (this.deliveryOrders) {
        this.loading = true
        this.$axios.get(`${this.$apiUrl}/orders`, this.getHeaderRequest())
            .then(res => {
              this.loading = false
              if (this.isValidResponse(res)) {
                console.log("arrived")
                this.response = res.data.data
                if (this.response.orders.length > 0) this.active = 0
                console.log(this.active)
              }
            })
            .catch(error => {
              this.loading = false
              this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
              console.log(error.messageerror)
            })
      }
    },
    submitDelegate(delivery_id){
      this.response.orders[this.active].delivery_id = delivery_id
      this.showDelegateDialog = false
    },
    printReset() {
      let l = 'loadingPrintReset'
      this[l] = !this[l]
      this.$axios.get(`${this.$apiUrl}/order/`+this.response.orders[this.active].id+`/print`, this.getHeaderRequest())
          .then(res => {
            this[l] = false
            if (this.isValidResponse(res)) {
              // this.active = -1
              this.$alertify.success(res.data.message);
            }
          })
          .catch(error => {
            this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
            this[l] = false
            console.log(error.messageerror)
          })
    },
    updateReset() {

    },
    cancelOrder() {
      Swal.fire({
        title: this.$t('are_you_sure'),
        text: this.$t('you_wont_to_delete_invoice_number')+this.response.orders[this.active].id+this.$t('with_name')+'\n'+this.response.orders[this.active].customer.name,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#ff5252',
        cancelButtonColor: '#1D2231',
        cancelButtonText: this.$t('cancel'),
        confirmButtonText: this.$t('yes_delete_it'),
        allowOutsideClick:false
      }).then((result) => {
        if (result.isConfirmed) {
          let l = 'loadingCancelOrder'
          this[l] = !this[l]
          this.model.order_id = this.response.orders[this.active].id
          this.$axios.post(`${this.$apiUrl}/orders/cancel`, this.model, this.getHeaderRequest())
              .then(res => {
                this[l] = false
                if (this.isValidResponse(res)) {
                  // this.active = -1
                  this.removeCollectedAndChangeActivation()
                  Swal.fire(this.$t('deleted'), this.$t("data_has_been_deleted_successfully"), "success");
                }
              })
              .catch(error => {
                this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
                this[l] = false
                console.log(error.messageerror)
              })
        }
      })
    },
    collectMoney(){
      let l = 'loadingCollectMoney'
      this[l] = !this[l]
      this.model.order_id = this.response.orders[this.active].id
      this.model.delivery_id = this.response.orders[this.active].delivery_id
      this.$axios.post(`${this.$apiUrl}/assign_order_delivery`, this.model, this.getHeaderRequest())
          .then(res => {
            this[l] = false
            if (this.isValidResponse(res)) {
              // this.active = -1
              this.removeCollectedAndChangeActivation()
            }
          })
          .catch(error => {
            this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
            this[l] = false
            console.log(error.messageerror)
          })
    },
    removeCollectedAndChangeActivation(){
      this.response.orders.splice(this.active,1)
      if(this.active > 0) this.active--
      else if(this.response.orders.length === 0) this.active = -1
    }
  },

}
</script>

<style scoped>
.table-dialog-container {
  background: white;
  height: 100%;
}

.label-header {
  font-size: large;
  font-weight: bold;
  color: red;
}

.label-value {
  font-size: medium;
  font-weight: bold;
  color: black;
  text-align: start;
}

.customer {
  text-align: center;
  color: var(--front-action);
}

.customer-selected {
  color: white;
  background: var(--front-action);
  border-radius: 10px;
}

.customer-not-selected {
  background: white;
}

.orders-container {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.table-dialog-header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  background: var(--front-action);
  font-weight: bolder;
  color: white;
  padding: 5px;
}

tr td {
  padding: 0 !important;
  margin: 0 !important;
}

.hover {
  cursor: pointer;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--front-action);
  color: white;
}
</style>