<template>
  <div>
    <!-- Add Delegate form -->
    <v-dialog
        persistent
        class="v-dialog"
        v-model="showDelegateDialog"
        max-width="500px"
    >
      <v-form
          v-model="valid"
          ref="formSearch"
          lazy-validation>
        <v-card style="overflow-y: hidden; overflow-x: hidden">
          <div class="customer customer-selected" style="border-radius: 0; font-size: larger; width: 100%; margin: 0;">
            {{ $t('assign_delegate') }}
          </div>
          <v-row style="margin-top: 15px">
            <li v-for="(item,index) in delegates" :key="index">
              <div @click="changeDelegate(index)"
                   v-bind:class="active === index ? 'hover customer customer-selected' : 'hover customer customer-not-selected' ">
                {{ item.name }}
              </div>
            </li>
          </v-row>
          <div class="row no-gutters" style="margin-top: 30px">
            <v-col >
              <v-btn
                  style="border-radius: 0"
                  class="btn-block"
                  @click.prevent="submitAssignDelegate"
                  :loading="loadingAssignDelegate"
                  :disabled="loadingAssignDelegate"
                  color="error">
                {{ $t('assign') }}
              </v-btn>
            </v-col>
            <v-col>
              <v-btn
                  style="border-radius: 0"
                  class="btn-block"
                  color="grey"
                  dark
                  @click="closeDialog">
                {{ $t('cancel') }}
              </v-btn>
            </v-col>
          </div>
        </v-card>
      </v-form>
    </v-dialog>

  </div>

</template>

<script>
import helper from "../../../mixins/helper";

export default {
  name: "SendDelegateComponent",
  props: ['delegates', 'showDelegateDialog','order_id'],
  mixins: [helper],

  data: () => ({
    valid: true,
    loaderAssignDelegate: null,
    loadingAssignDelegate: false,
    active: -1,
    model: {
      order_id: -1,
      delivery_id: -1,
      is_collected: 0
    }
  }),

  watch: {
    order_id: {
      immediate: true,
      handler(val) {
        this.model.order_id = val
      }
    }
  },
  methods: {
    submitAssignDelegate() {
      // console.log(this.delegates)
      // console.log(this.model.phone)
      if (this.model.delivery_id === -1) {
        this.$alertify.error(this.$t('please_select_your_delegate'));
        return
      }
      let l = 'loadingAssignDelegate'
      this[l] = !this[l]
      console.log(this.model)
      this.$axios.post(`${this.$apiUrl}/assign_order_delivery`, this.model, this.getHeaderRequest())
          .then(res => {
            this[l] = false
            if (this.isValidResponse(res)) {
              this.$alertify.success(res.data.message);
              this.$emit('submitDelegate', this.model.delivery_id)
            }
          })
          .catch(error => {
            this.$alertify.error(this.$t('msg.please_reload_page_and_try_again'));
            this[l] = false
            console.log(error.messageerror)
          })
    },
    closeDialog() {
      this.$emit('closeDialogDelegate')
    },
    changeDelegate(index) {
      this.active = index
      this.model.delivery_id = this.delegates[this.active].id
    }
  },
}
</script>

<style scoped>
.v-dialog {
  overflow-y: hidden;
}

.hover {
  cursor: pointer;
}

.customer {
  font-weight: bolder;
  text-align: center;
  color: var(--front-action);
}

.customer-selected {
  color: white;
  background: var(--front-action);
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}

.customer-not-selected {
  background: white;
}
</style>