<template>
  <nav style="max-height: 10vh" class="app-bar-header">
    <TableComponent/>
    <SettingsComponent @closeSettings="showSettings = false" :showSettings="showSettings"/>
    <DeliveryOrdersComponent @closeSendDelegate="deliveryOrders = false" :deliveryOrders="deliveryOrders"/>
<!--    <LoginComponent :loginDialog="loginDialog" @closeLogin="loginDialog = false"/>-->

    <form class="form-inline header-icons flex-shrink-0">
      <div @click="callApi">
        <label class="nav-text">{{ $t('cashier') }}</label>
        <v-btn icon color="white">
          <v-icon>mdi-laptop</v-icon>
        </v-btn>
      </div>
      <div @click="deliveryOrders = true">
        <label class="nav-text">{{ $t('delivery_orders') }}</label>
        <v-btn icon color="white">
          <v-icon>mdi-motorbike</v-icon>
        </v-btn>
      </div>
<!--      <div @click="tables">-->
<!--        <label class="nav-text">{{ $t('tables') }}</label>-->
<!--        <v-btn icon color="white">-->
<!--          <v-icon>mdi-table-picnic</v-icon>-->
<!--        </v-btn>-->
<!--      </div>-->
<!--      <div @click="showSettings = true">-->
<!--        <label class="nav-text">{{ $t('settings') }}</label>-->
<!--        <v-btn icon color="white">-->
<!--          <v-icon>mdi-cog</v-icon>-->
<!--        </v-btn>-->
<!--      </div>-->
      <div @click="openDashboard">
        <label class="nav-text">{{ $t('dashboard') }}</label>
        <v-btn icon color="white">
          <v-icon>mdi-desktop-mac-dashboard</v-icon>
        </v-btn>
      </div>
      <div @click="logout">
        <label class="nav-text">{{ $t('logout') }}</label>
        <v-btn icon color="white">
          <v-icon>mdi-export</v-icon>
        </v-btn>
      </div>

    </form>
  </nav>
</template>

<script>
import TableComponent from "../dialog/TableComponent";
import SettingsComponent from "../dialog/SettingsComponent";
import DeliveryOrdersComponent from "../dialog/delivery/DeliveryOrdersComponent";

export default {
  name: "AppBarComponent",
  components: {TableComponent, SettingsComponent, DeliveryOrdersComponent},
  data() {
    return {
      showSettings: false,
      deliveryOrders: false,
      // loginDialog: false,
    }
  },
  // mounted() {
  //   let user = this.$store.getters.getUser
  //   if (user === null) {
  //     this.loginDialog = true
  //   }
  // },
  methods: {
    callApi() {
      this.$emit('reCallCategories')
    },
    openDashboard(){
      window.open( this.$baseUrl);
    },
    // orderCollect() {
    //   this.$emit('orderCollect')
    // },
    // tables() {
    //   this.$emit('showTables')
    // },
    logout(){
      // this.$store.dispatch("logout")
      this.$emit('logout')
    }
  }
}
</script>

<style scoped>
.app-header-name {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.header-icon {
  width: 10px;
  height: 10px;
}

.app-bar-header {
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  background: var(--main-gradient);
}

.nav-text {
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
</style>