<template>
  <v-app>
    <v-main style="margin: 0; padding: 0; height: 100vh;
overflow: hidden;">
      <div style="background: var(--main-splash); width: 100%; height: 100%" v-if="is_connected === false">

        <div class="container">
<!--          <v-img style="border-radius: 50%; width: 100px;  height: 100px; display: block; margin: auto;"-->
<!--                 :src="require('../public/logo.png')"/>-->

          <label style="margin-top: 30px" class="splash-text">Scope Menus</label>

          <div class="text-center">

            <v-img style="width: 300px;  height: 300px; display: block; margin: auto;"
                   :src="require('./assets/burger.gif')"/>

          <div style="display: flex; justify-content: center; margin-top: 20px">
            <div class="progress" style="width: 80%; margin: 5px">
              <div class="progress-bar" style="background-color: #E84E40; " role="progressbar" aria-valuenow="50"
                   aria-valuemin="0" aria-valuemax="100"
                   :style="{width: percentage+'%' }" />
            </div>

            <div class="sr-only" style="font-size: large;
           font-weight: bold;
           color: #E84E40;
           text-align: center;">{{ percentage }}% {{ $t('loading') }}.......
            </div>

          </div>
<!--          <label style="margin-top: 30px" class="splash-text">Scope Menus</label>-->

<!--          <div class="text-center">-->

<!--            <v-img style="width: 300px;  height: 300px; display: block; margin: auto;"-->
<!--                   :src="require('./assets/burger.gif')"/>-->
<!--          <v-progress-circular-->
<!--              indeterminate-->
<!--              color="red"-->
<!--          ></v-progress-circular>-->
          </div>
        </div>
      </div>
      <div v-else>
        <router-view
            @showTables="showTables = false"
            :showTables="showTables"
            @closeTables="showTables = false"
            @reCallCategories="reCallCategories = false"
            :reCallCategories="reCallCategories"/>
      </div>
    </v-main>
  </v-app>
</template>

<script>

// import Nav from "../src/components/Nav";
// import AppBarComponent from "./pages/app/AppBarComponent";

import helper from "./mixins/helper";

export default {
  name: 'App',
  // components: {AppBarComponent},
  mixins: [helper],
  data: () => ({
    percentage: 0,
    reCallCategories: false,
    showTables: false,
    showToolbar: false,
    is_connected: false,
  }),
  // beforeCreate() {
  //   let user = this.$store.getters.getUser
  //   if (user === null) {
  //   }
  // },
  mounted() {
    this.$vuetify.rtl = true
    console.log("getUser in App Vue")
    let user = this.$store.getters.getUser
    if (user === null) {
      this.showToolbar = false
      this.$router.push("/login").catch(() => {
      });
    } else
      this.showToolbar = true

    let interval = window.setInterval(() => {
      if (this.percentage < 100) {
        if (this.percentage % 10 === 0) {
          // interval.resume()
          this.$axios({
            method: "get",
            url: `${this.$apiUrl}/is_connected`,
            timeout: 1000 * 2, // Wait for 2 seconds
            headers: {
              "Accept": "application/json"
            }
          }).then(res => {
            if (this.isValidResponse(res)) {
              this.is_connected = true
              clearInterval(interval)
              // window.setInterval(() => {
              //   this.percentage++
              // },10)
            } else
              this.percentage++

          }).catch(error => {
            this.percentage++
            console.log(error);
          });
        }
        this.percentage++
      } else {
        this.percentage = 1
      }
    }, 1000)

  }, computed: {
    currentRouteName() {
      // console.log(this.$route.name)
      return this.$route.name;
    }
  },
  methods: {
    hideToolbar() {
      this.showToolbar = false
      this.$router.push("/login").catch(() => {
      });
    }
  }
};
</script>
<style scoped>
.progress {
  background-color: #b5b5b5;
}
</style>
